{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="{% static 'js/script.js' %}" defer></script>
    <title>Page d'accueil</title>
</head>

<body>
    <header>
        <section class="sec1">
            <div class="logo">
                <img src="{% static 'images/logovide.PNG' %}" alt="photo logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="A-propos.html">À propos</a></li>
                    <li class="p-sous-nav-service">
                        <a href="NosServices.html">Nos offres de services</a>
                        <ul class="sous-nav-service">
                            <li class="p-sous-nav-menage">
                                <a href="/">Ménage</a>
                                <ul class="sous-nav-menage">
                                    <li><a href="Menage-Résidentiel.html">Résidentiel </a></li>
                                    <li><a href="Menage-Commercial.html">Commercial</a></li>
                                </ul>


                            </li>
                            <li class="p-sous-nav-conciergerie">
                                <a href="Consiergerie-Résidentielle.html">Conciergerie résidentielle</a>
                            </li>
                            <li><a href="/">Service de soutien à domicile</a></li>
                            <li><a href="/">Service de chantier</a></li>
                            <li><a href="/">Entretien espace vert</a></li>
                        </ul>
                    </li>
                    <li class="p-sous-nav-projet">
                        <a href="/">Notre gestion</a>
                        <ul class="sous-nav-projet">
                            <li><a href="/">Service administratifs</a></li>
                            <li><a href="/">Gestion location</a></li>
                            <li><a href="/">Pack AIRBNB</a></li>



                        </ul>
                    </li>
                    <li> <a href="views/contact.html">Contact</a></li>
                </ul>
            </nav>

        </section>

    </header>
    <main>

        <div class="desc">
            <h1>Majestic Prestige Multiservices <br> votre expert de nettoyage, conciergerie et multiservices</h1>
            <p>Notre société offre une gamme de services axés sur la propreté et la gestion globale des espaces <br>
                cette société offre une solution complète pour répondre aux besoins variés de ses clients <br>
                et administration en matière d'entretien et de gestion de l'espace et locations <br>


            </p>
        </div>
        <section class="sec2">
            <div class="reactivite">
                <img src="{% static 'images/eclat.png' %}" alt="eclat">
                <h2>Réactivité</h2>
                <p>Majestic Prestige Multiservices met à votre <br> disposition une équipe disponible 24/24h, <br>7j/7
                    pour répondre à tous vos besoins</p>
            </div>
            <div class="humain">
                <img src="{% static 'images/humain.png' %}" alt="">
                <h2>Humain</h2>
                <p>Notre société à taille humaine nous permet d’établir un contact privilégié et une proximité précieuse
                    avec chacun de nos membres</p>
            </div>
            <div class="qualite">
                <img src="{% static 'images/main.png' %}" alt="">
                <h2>Qualité</h2>
                <p>La rigueur, l'honnêteté, la ponctualité et la discrétion ce sont les principals qualités de la
                    Prestation fournie par notre société.<br> </p>
            </div>
            <div class="polyvalence">
                <img src="{% static 'images/fleches.png' %}" alt="">
                <h2>Polyvalence</h2>
                <p>La société proposeras une grande polyvalence entre des services de ménage de tous types, avec des
                    services de conciergerie et gestion.</p>
            </div>
        </section>
        <section class="sec3">
            <h1>Découvrez nos services</h1>
            <p id="paraservice">Nous vous proposons des solutions globales et sur mesure en fonction de vos envies et de vos besoins.</p>



           <div class="services">
            <div class="slides fade">
                <div class="titre">menage</div>
                <div class="gliss"><img src="{% static 'images/menage.jpg' %}" alt=""></div>
                <div class="text"><p>Les beaux jours arrivent, préparons votre résidence
                    avant que la saison ne commence avec un ménage de tous types.</p>
               </div>
            </div>

            <div class="slides fade">
                <div class="titre">Conciergerie</div>
               <div class="gliss"> <img src="{% static 'images/conciergerie.jpg' %}" alt=""></div>
                <div class="text"><p>Profitez de votre temps libre !

                    Nous prenons soins de votre bien au moyen de services personnalisés.</p>
            </div>
            </div>

            <div class="slides fade">
                <div class="titre">Service de soutien à domicile</div>
                <div class="gliss"><img src="{% static 'images/soutien.jpg' %}" alt=""></div>
                <div class="text"><p>Une aide à domicile c’est un précieux gain de qualité de vie! Découvrez ici les différents services à domicile que nous vous proposons.</p>
                </div>
            </div>

            <div class="slides fade">
                <div class="titre">Service de chantier</div>
               <div class="gliss"><img src="{% static 'images/chantier.jpeg' %}" alt=""></div> 
                <div class="text"><p>Toute prestation ou service inhérent à la propreté, rangement, petites démolitions avant travaux, débarras et fin de chantier de locaux commerciaux, administratifs et privés</p>
               </div>
            </div>

            <div class="slides fade">
                <div class="titre">Entretien espace vert</div>
               <div class="gliss"><img src="{% static 'images/espacevert.jpg' %}" alt=""></div> 
                <div class="text"><p>Votre jardin où espace vert mérite une attention particulière, on ferait les travaux nécessaires pour conserver votre jardin en bon état </p>
                </div>
            </div>





            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>



           </div>

<br>
<div style="text-align:center;" class="ronde">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot"  onclick="currentSlide(2)"></span>
    <span class="dot"  onclick="currentSlide(3)"></span>
    <span class="dot"  onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>


</div>




        </section>
<section class="sec4">
    <h1>Découvrez notre gestion</h1>
            <p>Vous souhaitez rentabiliser votre logement en location saisonnière, on vous accompagne pour satisfaire au mieux les voyageurs et optimiser
                 le taux d’occupation de votre bien. .
               <br> Vous ne vous occupez de rien, on se charge de tout !.</p>

                <div class="groupe1">
                    <div class="serviceadministratif">
                       <a href="#"> 
                        <div class="titreadministration">
                            <h2>Service administratif</h2>
                        </div>
                    </a>
                        <p>
                            Les tâches administratives jouent un rôle essentiel dans le bon 
                            fonctionnement de l’organisation. La gestion des documents, la communication interne et le soutien opérationnel
                             contribuent à la productivité et à la réussite globale de l’entreprise.</p>
                        <button>En savoir plus</button>
                    </div>
                    <div class="gestionlocation">
                       <a href="#"> <div class="titrelocation">
                            <h2>Gestion location</h2>
                        </div>
                    </a>
                        <p>La location meublée courte et moyenne durée est désormais un vrai métier, répondant à des critères de confort stricts, 
                            nécessitant une disponibilité très importante, confiez nous la gestion et l’optimisation de votre bien on se charge de tout. </p>
                        <button>En savoir plus</button>
                    </div>
                    <div class="packairbnb">
                        <a href="#"><div class="titreairbnb">
                            <h2>Pack airbnb</h2>
                        </div>
                    </a>
                        <p>La conciergerie Airbnb offre un soutien complet aux hôtes pour optimiser l'expérience de leurs invités.
                             Cela comprend la gestion des arrivées et départs, le nettoyage professionnel entre les séjours, la réponse aux demandes des invités, 
                             et la gestion des problèmes, etc...</p>
                        <button>En savoir plus</button>
                    </div>
                </div>

</section>


<section class="sec5">
    <h1>Pourquoi choisir Majestic Prestige & Conciergerie</h1>
    <div class="principe">
<div class="principe1">
<img src="{% static 'images/reglage.png' %}" alt="">
<div class="texteprincipe">
    <h2>Résponsabilité</h2>
<p>Entiérement assuré.</p>
</div>
</div>
<div class="principe2">
    <img src="{% static 'images/reglage.png' %}" alt="">
   <div class="texteprincipe">
     <h2>Ecologie</h2>
    <p>Utilisation de produits ecologiques.</p>
</div>
    </div>
    <div class="principe3">
       <img src="{% static 'images/reglage.png' %}" alt=""> 
        <div class="texteprincipe">
            <h2>flexibilté</h2>
            <p>Réservation flexible à annuler a tout moment.</p>
        </div>
        </div>
    </div>

    <button>Demandez un devis</button>
  <div class="devis"><p>c'est gratuit et sans engagement</p></div> 
</section>
<section class="sec6">

    <h1>Qui somme nous?  <br><span style="color:#bda577;">" call to action "</span> </h1>
<div class="allcall">

<div class="etape1">
   <div class="image"> <img src="{% static 'images/decouvrir.png' %}" alt=""></div>
    <div class="numero"><p>1</p></div>
    <div class="paratitre"><p>Découvrez nos offres</p></div>
   <div class="paradesc"> <p>Majestic préstige conciergerie vous propose différents services tous types, aprés avoir choisir l'offre qui vous convient vous pouvez nous contactez</p></div>
</div>

<div class="etape2">
    <div class="image"> <img src="{% static 'images/groupe.png' %}" alt=""></div>
     <div class="numero"><p>2</p></div>
     <div class="paratitre"><p>Contactez notre équipe</p></div>
    <div class="paradesc"> <p>Notre équipe prend contact avec vous et organise une visite personnalisée. Nous comprendrons ainsi mieux vos besoins et vos attentes.</p></div>
 </div>

 <div class="etape3">
    <div class="image"> <img src="{% static 'images/devis.png' %}" alt=""></div>
     <div class="numero"><p>3</p></div>
     <div class="paratitre"><p>Demandez un devis gratuit</p></div>
    <div class="paradesc"> <p>Majestic préstige conciergerie vous soumet un budget adapté et sur-mesure. Nous réalisons pour vous les démarches administratives liées à votre situation.</p></div>
 </div>

 <div class="etape4">
    <div class="image"> <img src="{% static 'images/menage.png' %}" alt=""></div>
     <div class="numero"><p>4</p></div>
     <div class="paratitre"><p>Explorez nos services</p></div>
    <div class="paradesc"> <p>Nous sélectionnons uniquement des employés avec expériences et spécialisés en ménage et entretien de tous les espaces. Trouvons ensemble l’intervenant qui vous convient le mieux.</p></div>
 </div>

 <div class="etape5">
    <div class="image"> <img src="{% static 'images/maison-propre.png' %}" alt=""></div>
     <div class="numero"><p>5</p></div>
     <div class="paratitre"><p>Accéder à la tranquilité d'esprit</p></div>
    <div class="paradesc"> <p>Majestic préstige conciergerie tiens à vous délivrer une prestation de qualité, elle sera toujours à votre service. Vous allez adorer rentrer chez vous !</p></div>
 </div>

</div>


<button>Demandez un devis</button>
  <div class="devis"><p>c'est gratuit et sans engagement</p></div> 
</section>
 
      

<section class="sec7">

    <div class="partie1">
        <a href="views/contact.html">
            <h3>Des spécialistes à votre service </h3>
        <p>Besoin de conseils? Contactez-nous!</p>
        <img src="{% static 'images/contact-pageaccueil.jpg' %}" alt="conseille emploi">
        <button id="boutonfinale">Contact</button>
        </a> 
</div>

<div class="partie2">
    <a href="airbnb.html">
        <h3>Nous rejoindre</h3>
    <p>Votre pack airbnb</p>
    <img src="{% static 'images/Airbnb.jpg' %}" alt="contact-gif emploi">
    <button id="boutonfinale">PackAIRBNB</button>
    </a>
</div>
        </section>
    </main>
    <footer>
        <section class="sec9">
            <div class="logogif">
                <a href="accueil.html"><img src="{% static 'images/logovide.PNG' %}" alt="gifemploi"></a>
            </div>
            <div class="menufooter">
                <nav>
                    <ul>
                        <a href="accueil.html"><li>ACCUEIL</li> </a> 
                        <a href="A-propos.html"><li>A PROPOS</li></a>
                        <a href="NosServices.html"><li>NOS OFFRES DE SERVICES</li></a>
                        <a href=""><li>NOTRE GESTION</li></a>
                        <a href="views/contact.html"><li>CONTACT</li></a>
                    
                    </ul>
                </nav>
            </div>
            <div class="listes">
                <ul>
                   <a href=""><li>PACK AIRBNB</li></a> 
                    <a href=""><li>SERVICE ADMINISTRATIF</li></a>
                    <a href=""><li>GESTION LOCATION</li></a>
                    <a href=""><li>CGU</li></a>
                    <a href=""><li>POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</li></a>
                </ul>
            </div>
            <div class="reseau">
                <h2 id="titres">Suivez-nous sur:</h2>
                <div class="suivre">
                    <div class="linkdinbas"><a href="https://www.linkedin.com/company/"><img src="{% static 'images/capdernier.png' %}" alt="linkedin"></a></div>
                    <div class="gmailbas"><a href=""><img src="{% static 'images/gmail.png' %}" alt="gmail"></a></div>
                    <div class="ytbbas"><a href="https://www.youtube.com/channel/UCy0L6f8kYbNlhLx2DzrAlCg"><img src="{% static 'images/youtube.png' %}" alt="youtube"></a></div>
                </div>
            </div>
           
        </section>
        <div class="copy">
            <hr width="20%" size="1.5" text-align="center" color="#cab48d">
            <p>Copyright @ 2023 Majestic Prestige Conciergerie. Tous les droits sont réservés</p>
            
            </div>
    </footer>
 
    
   
</body>

</html>