{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block page_css %}
    {% endblock %}
    <title>{% block title %}Majestic Prestige{% endblock %}</title>
    <style>
        header {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{% block header_image %}{% endblock %}');
        }
    </style>
</head>
<body>
    <!-- Header commun -->
    <header>
        <section class="sec1">
            <div class="logo">
               <a href="{% url 'accueil' %}"> <img src="{% static 'images/logovide.PNG' %}" alt="photo logo"></a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'accueil' %}">Accueil</a></li>
                    <li><a href="{% url 'a_propos' %}">À propos</a></li>
                    <li class="p-sous-nav-service">
                        <a href="{% url 'nos_services' %}">Nos offres de services</a>
                        <ul class="sous-nav-service">
                            <li class="p-sous-nav-menage">
                                <a href="/">Ménage</a>
                                <ul class="sous-nav-menage">
                                    <li><a href="Menage-Résidentiel.html">Résidentiel </a></li>
                                    <li><a href="Menage-Commercial.html">Commercial</a></li>
                                </ul>


                            </li>
                            <li class="p-sous-nav-conciergerie">
                                <a href="Consiergerie-Résidentielle.html">Conciergerie résidentielle</a>
                            </li>
                            <li><a href="/">Service de soutien à domicile</a></li>
                            <li><a href="/">Service de chantier</a></li>
                            <li><a href="/">Entretien espace vert</a></li>
                        </ul>
                    </li>
                    <li class="p-sous-nav-projet">
                        <a href="{% url 'notre_gestion' %}">Notre gestion</a>
                        <ul class="sous-nav-projet">
                            <li><a href="{% url 'gestion_administrative' %}">Service administratifs</a></li>
                            <li><a href="{% url 'gestion_locative' %}">Gestion location</a></li>
                            <li><a href="{% url 'packairbnb' %}">Pack AIRBNB</a></li>



                        </ul>
                    </li>
                    <li> <a href="{% url 'contact' %}">Contact</a></li>
                    <li id="log-button"><a href="{% url 'login_user' %}"><button>Mon compte</button></a></li>
                </ul>
            </nav>

        </section>


        <!-- Section spécifique pour chaque page -->
        <section class="page-header">
            {% if block.super %}
            <h1>{% block header_title %}Titre par défaut{% endblock %}</h1>
            {% endif %}
        </section>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer commun -->
    <footer>
        <section class="sec9">
            <div class="logogif">
                <a href="{% url 'accueil' %}"><img src="{% static 'images/logovide.PNG' %}" alt="gifemploi"></a>
            </div>
            <div class="menufooter">
                <nav>
                    <ul>
                        <a href="{% url 'accueil' %}"><li>ACCUEIL</li> </a> 
                        <a href="{% url 'a_propos' %}"><li>A PROPOS</li></a>
                        <a href="{% url 'nos_services' %}"><li>NOS OFFRES DE SERVICES</li></a>
                        <a href="{% url 'notre_gestion' %}"><li>NOTRE GESTION</li></a>
                        <a href="{% url 'contact' %}"><li>CONTACT</li></a>
                    
                    </ul>
                </nav>
            </div>
            <div class="listes">
                <ul>
                   <a href="{% url 'packairbnb' %}"><li>PACK AIRBNB</li></a> 
                    <a href="{% url 'gestion_administrative' %}"><li>SERVICE ADMINISTRATIF</li></a>
                    <a href="{% url 'gestion_locative' %}"><li>GESTION LOCATION</li></a>
                    <a href=""><li>CGU</li></a>
                    <a href=""><li>POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</li></a>
                </ul>
            </div>
            <div class="reseau">
                <h2 id="titres">Suivez-nous sur:</h2>
                <div class="suivre">
                    <div class="linkdinbas"><a href="https://www.linkedin.com/company/"><img src="{% static 'images/capdernier.png' %}" alt="linkedin"></a></div>
                    <div class="gmailbas"><a href=""><img src="{% static 'images/gmail.png' %}" alt="gmail"></a></div>
                    <div class="ytbbas"><a href="https://www.youtube.com/channel/UCy0L6f8kYbNlhLx2DzrAlCg"><img src="{% static 'images/youtube.png' %}" alt="youtube"></a></div>
                </div>
            </div>
           
        </section>
        <div class="copy">
            <hr width="20%" size="1.5" text-align="center" color="#cab48d">
            <p>Copyright @ 2023 Majestic Prestige Conciergerie. Tous les droits sont réservés</p>
            
            </div>
    </footer>
 
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/scriptService.js' %}" defer></script>
</body>
</html>
