{% extends 'base.html' %}
{% load static%}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/menage.css' %}">
{% endblock %}

{% block title%}
Conciergerie résidentielle
{% endblock%}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}

{% block content %}
    <main>

        <section class="section1">
            <h1> Nos offres de conciérgerie de luxe</h1>
            <h2>Conciergerie résidentielle</h2>
            </section>
<section class="section2">
<div class="image1">

</div>
<div class="texte1">
    <h3>Offrez-vous une tranquillité d'esprit avec notre service de conciergerie résidentielle de qualité:</h3>
    <p>Nous prenons en charge une gamme étendue de tâches, de la gestion des livraisons à l'entretien ménager, en passant par la coordination des services de réparation. </p>
       <P> Profitez d'une vie sans tracas, grâce à notre équipe dédiée qui s'occupe des détails, pour que vous puissiez vous concentrer sur l'essentiel.</p>
        <p> Nous nous engageons à simplifier votre vie quotidienne en prenant en charge les détails, offrant ainsi un confort et une tranquillité d'esprit inégalés.</p>
</div>
<div class="image2">

</div>
</section>


<section class="section3">
<p class="paragraphe1">Notre service de conciergerie résidentielle est une solution tout-en-un qui assure un confort de votre vie inégalé qui comprend</p>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>


<div class="background">
    <div class="background1">

    </div>
    <div class="background2">

    </div>
</div>

<div class="back">
<div class="back1">
    <div class="groupe1">
<div class="service1">
    <h3>La réception des colis</h3>
    <p>Notre service de conciergerie offre une solution pour les colis de la porte d’entrée à l’intérieur de l’appartement. Elle accuse réception et envoie un message au résident.</p>
</div>
<div class="service2">
    <h3>L'entretien ménager</h3>
    <p>Il comprend notamment le nettoyage des comptoirs, des armoires, de la plaque de cuisson, de l'évier, des appareils électroménagers, du sol et des surfaces en bois. 
       </p>
</div>
</div>
<div class="groupe2">
<div class="service3">
    <h3>Service de blanchisserie</h3>
    <p> Se concentre sur le nettoyage et l’entretien du linge de maison: Lavage, séchage, Repassage et pliage et peut également proposer des services de réparation ou de remplacement.
    </p>
</div>
<div class="service4">
    <h3> La gestion des réparations</h3>
    <p>Cela comprend le bricolage pour tous vos petits travaux de réparation et de manutention à votre domicile. 
        Dépannage et réparation de tous vos électroménagers et matériels informatiques.</p>
</div>
</div>

</div>


<div class="back2">

<img src="{% static 'images/conciergerie.jpg' %}" alt="">

</div>

</div>
</section>

<section class="autres-services">
<p>Majestic Préstige & Conciergerie comprend aussi comme service:</p>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
<div class="nos-services-conciergerie">
    <div class="nos-services-conciergerie1">
<div class="service-conciergerie1">
<div class="partie-img1">
  
</div>
<div class="partie-texte">
    <h3>Cordination et gestion de vos locations:</h3>
    <ul>
        <li>Création de l'annonce.</li>
        <li>Gestion des calendriers de réservation.</li>
        <li>Accueil des locataires.</li>
        <li>Entretien de logement avant et aprés les sejours.</li>
        <li>Blanchisserie.</li>
    </ul>
</div>

</div>

<div class="service-conciergerie2">
    <div class="partie-img2">
        
    </div>
    <div class="partie-texte">
        <h3>Gestion des déchets</h3>
        <ul>
            
            <li>La sortie et rentrée des poubelles.</li>
            <li>Vider, nettoyer et désinfecter tous les containers .</li>
          
        </ul>
    </div>
 </div>

 <div class="service-conciergerie3">
    <div class="partie-img3">
       
    </div>
    <div class="partie-texte">
        <h3>Repassage régulier</h3>
        <ul>
            <li>Repassage de vos vêtements.</li>
            <li>Pliage selon vos préférences.</li>
            <li>Rangement de votre dressing.</li>
            <li>Entretien et soin particulier.</li>
        </ul>
    </div>
    
    </div>
</div>
<div class="nos-services-conciergerie2">
   

    <div class="service-conciergerie4">
        <div class="partie-img4">
           
        </div>
        <div class="partie-texte">
            <h3>Services de maintenance</h3>
            <ul>
                <li>Les réparations de plomberie.</li>
                <li>Petites réparation quotidiennes.</li>
                <li>Contrôle de chauffage, électricité, serrurerie.</li>
                <li>S'intervenir en cas d'une grande réparation.</li>
            </ul>
        </div>
        
        </div>


        <div class="service-conciergerie5">
            <div class="partie-img5">
               
            </div>
            <div class="partie-texte">
                <h3>La réservation de services divers</h3>
                <ul>
                    <li>Nettoyage à sec.</li>
                    <li>Faire des courses.</li>
                    <li>Faire visiter des bien en cas de vente.</li>
                    <li>La gestion des clés.</li>
                </ul>
            </div>
            
            </div>


            
        <div class="service-conciergerie6">
            <div class="partie-img6">
               
            </div>
            <div class="partie-texte">
                <h3>Services spéciaux</h3>
                <ul>
       
                    <li>Service administratif</li>
                    <li>Entretien des espaces communs</li>
                    <li>L'entretien et l'aménagement des espaces verts</li>
                    <li>Nettoyage aprés déménagement ou rénovation</li>
                </ul>
            </div>
            
            </div>
        </div>

</div>

</section>


<section class="service-special">
<div class="service-special1">
<h1>L'Essence de la Conciergerie de Luxe</h1>
    <p>Nous nous engageons à simplifier votre vie quotidienne en prenant en charge les détails, <br> offrant ainsi un confort et une tranquillité d'esprit inégalés. 
        N'hésitez pas  a nous contacter pour  avoir un devis, c'est gratuit et sans engagement.</p>



        <a href="{% url 'demander_devis' %}"><button>Demandez un devis</button></a>
       
</div>
<div class="service-special2">
   <div class="service-special-image1"><img src="{% static 'images/derniere-image1.jpg' %}" alt=""></div> 
    <div class="service-special-image2"><img src="{% static 'images/derniere-image2.jpg' %}" alt=""></div>
</div>
</section>

<section class="sec6">
    <h1>Découvrez plus de services</h1>
    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
    <p>Et si nous vous aidions pour autre chose ?</p>
   
    <div class="nosservices">     
        <div class="servicemenage" class="image-item" id="c1">
            <a href="{% url 'menage_residentiel' %}"> 
             <div class="titremenage">
                 <h2>Ménage résidentiel</h2>
             </div>
         </a>
        </div>
        
        <div class="serviceconciergerie" class="image-item" id="c2">
            <a href="{% url 'menage_commercial' %}"> 
             <div class="titreconciergerie">
                 <h2>Ménage commercial</h2>
             </div>
         </a>
        </div>
        
        
        <div class="serviceaide" class="image-item" id="c3">
            <a href="#"> 
             <div class="titreaide">
                 <h2>Service de soutien à domicile</h2>
             </div>
         </a>
        </div>
        
        <div class="servicechantier" class="image-item" id="c4">
            <a href="#"> 
             <div class="titrechantier">
                 <h2>Service de chantier</h2>
             </div>
         </a>
        </div>
        
        <div class="serviceEntretien" class="image-item" id="c5">
            <a href="#"> 
             <div class="titreEntretien">
                 <h2>Entretien espace vert</h2>
             </div>
         </a>
        </div>
        </div>
</section>


<section class="section-final">
<p> Service Pack Airbnb </p>
    <p class="paragraphe-finale"><span>L</span>uxe et exclusivité à chaque séjour</p>

    <button id="boutonfinale">Pack Airbnb</button>

</section>
    </main>
    {% endblock %}