{% extends 'base.html' %}
{% load static%}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/menage.css' %}">
{% endblock %}

{% block title%}
Entretien espace vert
{% endblock%}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}



{% block content %}
    <main>
        <section class="section1">
        <h1> Nos offres de conciérgerie de luxe</h1>
        <h2>Entretien espace vert</h2>
        </section>

        <section class="section2">
<h1>La création, l'elagage, l'entretien et l'aménagement de parc, de jardins et tout espace vert</h1>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
<p> Nos services de Jardinage et Aménagement Paysager comprennent l'entretien des espaces extérieurs, taille des arbres, et création d'aménagements paysagers.
   <br> Nos paysagistes interviennent à tout moment pour la création et l'aménagement de vos jardins et parcs ou espaces verts.
     Passionnés par notre métier, <br> nous vous aidons à créer un lieu qui vous ressemble qui corresponde parfaitement à vos envies.
</p>
<div class="images-espace-vert">
<img src="{% static 'images/espace-vert1.jpg' %}" alt="">
<img src="{% static 'images/espace-vert2.jpg' %}" alt="">
<img src="{% static 'images/espace-vert3.png' %}" alt="">
</div>
        </section>

        <section class="section3">
<div class="imageArriereEspaceVert">
    <h2>Nos préstations de Jardinage et Aménagement Paysager</h2>
    <p>Faites appel à des paysagistes qualifiés pour l'aménagement et l'entretien de vos jardins et espaces verts, que vous soyez un particulier, une collectivité ou une entreprise.</p>
</div>
<div class="prestation1">
<div class="texte1">
<h2>Entretien des espaces verts</h2>
<p>Afin de redonner vie à vos espaces verts, nous vous proposons un service d'entretien de jardin, qu'il soit ponctuel ou régulier.</p>
<p>Nos paysagistes se déplacent aux alentours de la ville pour effectuer la tonte de pelouse, le débroussaillage, la taille de haies, d'arbres et d'arbustes... 
    Profitez de nos experts pour le petit élagage ou l'abattage de tous les arbres de petite hauteur.</p>
    <p>N'hésitez pas à nous contactez et demander un devis c'est gratuit et sans engagement.</p>
     <button>Demander un devis</button>
</div>
<div class="image1">

</div>
</div>

<div class="prestation2">
    <div class="image2">
    
    </div>
    <div class="texte1">
    <h2>Aménagements extérieurs</h2>
    <p>Vous envisagez d'aménager vos espaces extérieurs ? nous repensons entièrement votre jardin de façon à créer un espace dans lequel vous vous sentez bien.</p>
    <p>Nous vous proposons ainsi les prestations suivantes : création de terrasses en bois, création de piscines, pose de dallages, conception d'escaliers et création de gabions.</p>
        <p>Qu'il s'agisse d'agencer un parc, d'aménager une allée de jardin ou une cour intérieure,
             vous pouvez compter sur des paysagistes formés et qualifiés pour assurer une prestation de qualité.</p>
         <button class="boutton-aménager">Demander un devis</button>
    </div>
   
    </div>

    <div class="prestation3">
        <div class="texte1">
        <h2>Plantation et création des espaces verts</h2>
        <p>Tout est possible pour laisser parler vos envies et évoluer dans un espace de bien-être qui vous correspond. </p>
        <p>Nous réalisons la création de massifs ainsi que la plantation d'arbres et d'arbustes variés : arbres feuillus, haies mélangées, arbustes d'ornement, arbres fruitiers... 
            Vous trouverez au sein de notre magasin de nombreuses variétés de végétaux.</p>
            <p>Selon la configuration de votre jardin, nos paysagistes vous proposent de nombreuses idées d'aménagement. </p>
             <button class="boutton-creer">Demander un devis</button>
        </div>
        <div class="image3">
        
        </div>
        </div>

        </section>


        <section class="sec6">
            <h1>Découvrez plus de services</h1>
            <p>Et si nous vous aidions pour autre chose ?</p>
            <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
            <div class="nosservices">     
                <div class="servicemenage" class="image-item" id="c1">
                    <a href="#"> 
                     <div class="titremenage">
                         <h2>Ménage</h2>
                     </div>
                 </a>
                </div>

                <div class="serviceconciergerie" class="image-item" id="c2">
                    <a href="#"> 
                     <div class="titreconciergerie">
                         <h2>Conciergerie résidentielle</h2>
                     </div>
                 </a>
                </div>
                
                <div class="serviceaide" class="image-item" id="c3">
                    <a href="#"> 
                     <div class="titreaide">
                         <h2>Soutien à domicile</h2>
                     </div>
                 </a>
                </div>
              
                
                <div class="servicechantier" class="image-item" id="c4">
                    <a href="#"> 
                     <div class="titrechantier">
                         <h2>Service de chantier</h2>
                     </div>
                 </a>
                </div>
                
                <div class="serviceEntretien" class="image-item" id="c5">
                    <a href="#"> 
                     <div class="titreEntretien">
                         <h2>Entretien espace vert</h2>
                     </div>
                 </a>
                </div>
                </div>
        </section>
    </main>
    {% endblock %}