{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/gestionAdmin.css' %}">
{% endblock %}

{% block title %}
Gestion Administrative
{% endblock%}

{% block header_image%}
{% static 'images/notre-gestion.jpg' %}
{% endblock %}

{% block header_title %}
Notre prémium Gestion de luxe
{% endblock %}

{% block header_subtitle %}
Gestion Administrative
{% endblock %}

{% block content %}
    <main>
        <section class="section1">
            <h1> Notre prémium Gestion de luxe</h1>
            <h2>Gestion Administrative</h2>
            </section>

            <section class="section2">
                <div class="image1">
                
                </div>
                <div class="texte1">
                    <h2>Aide administrative</h2>
                    <p>Vous vous êtes trop souvent perdu(e) dans les méandres des documents officiels, et pour vous,
                         les formulaires administratifs sont des casse-têtes fastidieux qui vous prennent beaucoup trop de temps. Ne paniquez plus ! Nous sommes là pour vous. </p>
                       <P>Notre équipe dévouée prend en charge tous les aspects de votre administration, de la conception de dossiers à la rédaction de formulaires, 
                        en passant par le suivi rigoureux de vos dossiers. Nous nous occupons de tout, avec précision et efficacité.</p>
                        <p>Plus besoin de perdre du temps précieux à jongler avec des tâches administratives fastidieuses. 
                            Vous pouvez compter sur nous pour vous offrir une assistance administrative de première classe, vous permettant ainsi de vous concentrer sur l’essentiel : votre activité.</p>
                </div>
                <div class="image2">
                
                </div>
                </section>

                <section class="section3">

<h2>Vous cherchez un service spécialisé dans le domaine <br> de l'assistance administrative ?</h2>
<p>Vous êtes au bon endroit.</p>
<button>Contactez-nous</button>

                </section>

                <section class="section4">

                    <h1>Nos prestations d'assistance administrative</h1>
                    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                    <p>Nous répondons à toutes vos exigences avec une grande réactivité.</p>
                <div class="aide-administrative">
                    <div class="texte-administration">
<h3>Vous pouvez compter sur nos services on s'occupe de tout :</h3>
<ul>
<li> Gestion des feuilles de soin, des dossiers CAF, des déclarations d’impôts, des échéances concernant votre mutuelle…</li>
<li>Prise en charge des démarches administratives avec votre mairie, l’établissement scolaire de vos enfants…</li>
<li>Changements de coordonnées après un déménagement.</li>
<li> Rédaction de courriers de relance, de lettres administratives…</li>
<li>Votre assistante peut également s’occuper de votre gestion bureautique: tri de vos emails, destruction des spams, réponses (selon vos consignes)…</li>
<li>Le paiement et le suivi des factures du foyer.</li>
<li>La rédaction des correspondances courantes.</li>
<li>Et plus encore ...</li>


</ul>
                    </div>
                    <div class="image-administration">

                    </div>
                </div>
                    
                                    </section>

                                    <section class="sec4">
                                        <h1>Découvrez plus de notre gestion</h1>
                                        <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                                                <p>Vous souhaitez rentabiliser votre logement en location saisonnière, on vous accompagne pour <br> satisfaire au mieux les voyageurs et optimiser
                                                     le taux d’occupation de votre bien.
                                                   <br> Vous ne vous occupez de rien, on se charge de tout !.</p>
                                    
                                                    <div class="groupe1">
                                                        <div class="serviceadministratif">
                                                           <a href="Gestion-Administrative.html"> 
                                                            <div class="titreadministration">
                                                                <h2>Service administratif</h2>
                                                            </div>
                                                        </a>
                                                           
                                                        </div>
                                                        <div class="gestionlocation">
                                                           <a href="#"> 
                                                            <div class="titrelocation">
                                                                <h2>Gestion location</h2>
                                                            </div>
                                                        </a>
                                                            
                                                            <button>Demander un devis</button>
                                                        </div>
                                                        <div class="packairbnb">
                                                            <a href="#">
                                                                <div class="titreairbnb">
                                                                <h2>Pack airbnb</h2>
                                                            </div>
                                                        </a>
                                                        
                                                        </div>
                                                    </div>
                                                    
                                    
                                    </section>
                                    
    </main>
   {% endblock %}