{% extends 'base.html' %}
{% load static%}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/menage.css' %}">
{% endblock %}

{% block title%}
Ménage Résidentiel
{% endblock%}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}

{% block content %}
    <main>
        <section class="section1">
            <h1> Nos offres de ménage de luxe</h1>
            <h2>Ménage Résidentiel</h2>
            </section>
<section class="section2">
    <div class="image-menage">
<img src="{% static 'images/menage-residentiel1.jpg' %}" alt="">
    </div>
    <div class="texte-menage">
<p class="para1"> Notre service de ménage résidentiel vous assure un foyer impeccable adapté à vos besoins spécifiques.</p>
<p>Nous proposons le nettoyage complet des espaces intérieurs, y compris le dépoussiérage, le lavage des sols, le nettoyage des sanitaires, et bien plus encore. </p>
<p>Nos équipes professionnelles sont attentives aux détails, utilisent des produits respectueux de l'environnement, 
    et s'adaptent à vos préférences pour créer un environnement propre et confortable chez vous.</p>
<p>Nous nous engageons à créer un environnement domestique propre et accueillant,
     pour que vous puissiez profiter d'un espace de vie confortable et soigné.</p>
    </div>
</section>

<section class="section3">
<div class="groupe1">

    <p>Nos services de ménage <br> résidentiel comprennent:</p>
    <a href="{% url 'demander_devis' %}"><button>Demandez un devis</button></a>
 
</div>
<div class="groupe2">
    <div class="premieres-groupes">
    <div class="serv1">
        <img src="{% static 'images/nettoyer-maison.jpg' %}" alt="">
        <h3>Nettoyage</h3>
    </div>
    <div class="serv2">
        <img src="{% static 'images/lavage-sol.jpg' %}" alt="">
<h3>Lavage des sols</h3>
    </div>
        <div class="serv3">
<img src="{% static 'images/la-poussiére.jpg' %}" alt="">
<h3>Le dépoussiérage</h3>
        </div>
    </div>
    <div class="deuxiemes-groupes">
        <div class="serv4">
            <img src="{% static 'images/nettoyage-sanitaires.jpg' %}" alt="">
            <h3>Nettoyage sanitaire</h3>
        </div>
        <div class="serv5">
            <img src="{% static 'images/Changement-de-draps-et-serviettes.jpg' %}" alt="">
            <h3>Blanchisserie, changement des draps et des serviettes</h3>
        </div>
        <div class="serv6">
            <img src="{% static 'images/gestion-dechets.png' %}" alt="">
            <h3>Gestion des déchets</h3>
        </div>
    </div>
    </div>

</section>


<section class="background">
<section class="section4">
<h1>Besoin d'un coup de main supplémentaire ? </h1>
    <h2> Nous proposons des prestations avec des options personnalisables:</h2>
<p>Sur simple demande, nos employés adaptent leurs prestations pour vous faire gagner encore plus de temps au quotidien et apporter davantage de fraîcheur à votre intérieur.</p>

<div class="parties">
    <div class="partie1">
<div class="image1"><img src="{% static 'images/nettoyer-vitre.jpg' %}" alt=""></div>
<div class="image2"><img src="{% static 'images/laver-tapis.jpg' %}" alt=""></div>
<div class="image3"><img src="{% static 'images/nettoyer-four.jpg' %}" alt=""></div>
    </div>
    <div class="partie2">
<ul>
    <li>Repassage</li>
    <li>Nettoyage des vitres</li>
    <li>Lavage des tapis</li>
    <li>Nettoyage des électroménagers</li>
    <li>...Et plus encore! </li>
</ul>
    </div>
</div>



</section>
</section>

<section class="sec5">
    <h1>Pourquoi nous confier le ménage résidentiel <br> de votre domicile</h1>
    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
    <div class="principe">
<div class="principe1">
<img src="{% static 'images/reglage.png' %}" alt="">
<div class="texteprincipe">
    <h2>Résponsabilité</h2>
<p>Entiérement assuré.</p>
</div>
</div>
<div class="principe2">
    <img src="{% static 'images/reglage.png' %}" alt="">
   <div class="texteprincipe">
     <h2>Ecologie</h2>
    <p>Utilisation de produits ecologiques.</p>
</div>
    </div>
    <div class="principe3">
       <img src="{% static 'images/reglage.png' %}" alt=""> 
        <div class="texteprincipe">
            <h2>Flexibilté</h2>
            <p>Réservation flexible à annuler <br> a tout moment.</p>
        </div>
        </div>
    </div>

    <a href="{% url 'reserver' %}"><button>Réservation facile</button></a>
  <div class="devis"><p>Annulez à tout moment</p></div> 
</section>

<section class="sec6">
    <h1>Découvrez plus de services</h1>
    <p>Et si nous vous aidions pour autre chose ?</p>
    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
    <div class="nosservices">     
        <div class="servicemenage" class="image-item" id="c1">
            <a href="{% url 'menage_commercial' %}"> 
             <div class="titremenage">
                 <h2>Ménage commercial</h2>
             </div>
         </a>
        </div>
        
        <div class="serviceconciergerie" class="image-item" id="c2">
            <a href="#"> 
             <div class="titreconciergerie">
                 <h2>Conciergerie</h2>
             </div>
         </a>
        </div>
        
        
        <div class="serviceaide" class="image-item" id="c3">
            <a href="#"> 
             <div class="titreaide">
                 <h2>Service de soutien à domicile</h2>
             </div>
         </a>
        </div>
        
        <div class="servicechantier" class="image-item" id="c4">
            <a href="#"> 
             <div class="titrechantier">
                 <h2>Service de chantier</h2>
             </div>
         </a>
        </div>
        
        <div class="serviceEntretien" class="image-item" id="c5">
            <a href="#"> 
             <div class="titreEntretien">
                 <h2>Entretien espace vert</h2>
             </div>
         </a>
        </div>
        </div>
</section>
    </main>
   {% endblock %}