{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/pack.css' %}">
{% endblock %}

{% block title %}
Pack Airbnb
{% endblock %}

{% block header_image%}
{% static 'images/header-page-packairbnb.jpg' %}
{% endblock %}

{% block header_title %}
Notre prémium Conciergerie
{% endblock %}

{% block header_subtitle %}
Pack Airbnb
{% endblock %}

{% block content %}

    <main>
        <section class="section1">
            <h1> Notre prémium Conciergerie</h1>
            <h2>Pack Airbnb</h2>
            </section>
            <section class="section2">
                <h1>Service compléte pour votre logement</h1>
                <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                
                
                <p>La conciergerie Airbnb offre un soutien complet aux hôtes pour optimiser l'expérience de leurs invités.</p>
                <p> Elle vise à garantir une expérience agréable et sans soucis pour les hôtes et leurs invités.</p>
                <p>Notre service de conciergerie bnb s’inspire des plus grands hôtels pour vous offrir, à vous et vos invités, un service étoilé.</p>
            </section>
            <section class="section3">
<div class="service1">
<div class="service1-image1">
    <img src="{% static 'images/optimiqer-prix.jpg' %}" alt="">
    <h2>Optimisation de prix de location</h2>
    <p>Afin que votre bien soit loué le plus souvent possible, 
        nos équipes étudient le marché de la location courte durée pour fixer un prix cohérent avec la concurrence et le niveau de prestation que vous fournissez.
    </p>
</div>

<div class="service1-image2">
    <img src="{% static 'images/choisir-invité.jpg' %}" alt="">
    <h2>Sélection de vos invités</h2>
    <p>Afin de garantir la sécurité de votre bien, nous choisissons uniquement les clients les plus fiables pour séjourner chez vous.
         Notre service de conciergerie repose sur la confiance et nos experts mettent un point d’honneur à ce que votre logement reste en sécurité.</p>
</div>

</div>

<div class="service2">
    <div class="service2-image1">
        <img src="{% static 'images/check-in.jpg' %}" alt="">
        <h2>Check-in & remise des clés</h2>
        <p>À cet effet, nous accueillons personnellement vos invités à leur arrivée dans votre location courte durée et nous restons à leur disposition durant la totalité de leur séjour.
            Ainsi, pour une location en toute sérénité, faites confiance à Majestic Préstige & Conciergerie.
        </p>
    </div>
    
    <div class="service2-image2">
        <img src="{% static 'images/check-out.jpg' %}" alt="">
        <h2>Check-out, état des lieux & reprise des clés</h2>
        <p>À la fin de leur séjour, nous donnons des instructions aux voyageurs 
            concernant le processus de check-out et de remise des clefs afin que le logement soit rangé et propre, avec les portes et les fenêtres fermées, pour la prochaine location.
        </p>
    </div>
    
    </div>

    <div class="service3">
        <div class="service3-image1">
            <img src="{% static 'images/menage-pro.jpg' %}" alt="">
            <h2>Ménage professionnel</h2>
            <p>Pour l’entretien de votre logement, nous engageons une équipe professionnelle d’agents d’entretien avec des années d’expérience hôtelière.
                 Nous faisons tout notre possible pour assurer un entretien impeccable de votre location bnb.
            </p>
        </div>
        
        <div class="service3-image2">
            <img src="{% static 'images/produit-bain.jpg' %}" alt="">
            <h2>Produits de bain</h2>
            <p>En tant que spécialistes de la conciergerie bnb, 
                nous mettons divers produits de première nécessité à la disposition de vos invités afin qu’ils se sentent comme à la maison, dès leur arrivée dans votre logement.
            </p>
        </div>
        
        </div>


        
    <div class="service4">
        <div class="service4-image1">
            <img src="{% static 'images/linge-propre.jpg' %}" alt="">
            <h2>Linge propre et frais</h2>
            <p>Pour ajouter une touche luxueuse à votre logement, digne des grands hôtels, nous offrons du linge frais,
                 des housses de couette propres et des draps de bain à vos convives afin qu’ils se sentent logés comme dans un vrai hôtel pendant toute la durée de leur séjour.
            </p>
        </div>
        
        <div class="service4-image2">
            <img src="{% static 'images/maintenace-pack.jpg' %}" alt="">
            <h2>Maintenance</h2>
            <p>Du changement d’une ampoule à de petites réparations, 
                nous nous occupons des tâches de maintenance 7/7 – 24h/24h de votre logement pour offrir un confort premium à vos invités !
            </p>
        </div>
        
        </div>



            </section>


            <section class="section4">
<h1>POURQUOI NOUS CHOISIR?</h1>
<p>La conciergerie Airbnb vise à garantir une expérience agréable et sans soucis pour les hôtes et leurs invités. <br>
    Vous souhaitez évaluer le rendement locatif de votre bien ou vous avez une question ?
<br>    Contactez nous pour une prise de rendez vous gratuite et sans engagement.
</p>
    <a href="{% url 'contact' %}"><button>Contactez-nous</button></a>

            </section>


            <div class="choix-pack">
                <div class="pack1">
<h2>Offre "Complète"</h2>
<div class="offre-complete">
    <p>Notre offre « Complète » s'occupe d’absolument toute la gestion de votre location courte durée !</p>
    <ul>
        <li>Conseil & Accompagnement</li>
        <li>Séance photos Pro & Vue 3D</li>
        <li>Rédaction de l'annonce</li>
        <li>Diffusion sur les plus grandes plateformes</li>
        <li>
            Tarification dynamique quotidienne</li>
          <li>Discussions & échanges avec les voyageurs</li>  
          <li>Livret d'accueil et d'utilisation du logement</li>  
           <li>Gestion des cautions et garanties</li> 
           <li> Accueil & Départ chaleureux</li>
            <li>Ménage & blanchisserie professionnels</li>
           <li> Etat des lieux systématique et entretien</li>
           <li>Assistance voyageurs 24/7</li> 
           <li>Tableau de bord mensuel</li>
    </ul>
    <br>
    <hr style="width:30%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
 <span>   + </span>Paniers de bienvenue avec des produits locaux <br>
 <span>   + </span> Service livraison de courses <br>
 <span>   + </span> Des visites guidées <br>
 <span>   + </span> Des cours de cuisine <br>
 <span>   + </span> Réservation de services de transport <br>
</div>
                </div>
                <div class="pack2">
<h2>Offre "Classique"</h2>
<div class="offre-classique">
    <p>Notre offre « Classique » vous permet de sécuriser vos revenus grâce à un loyer mensuel garanti indexé sur le marché.</p>
    <ul>
        <li>Logement nu ou meublé</li>
        <li>Loyer garanti toute l'année</li>
        <li>Pas de charges d'éléctricité ou gaz</li>
        <li>Pas de charge internet ou TV</li>
        <li>
            Tarification dynamique quotidienne</li>
          <li>Entretien très régulier</li>  
          <li>Engagement d'un an renouvelable</li>  
           <li>Petit entretien pris en charge</li> 
           <li> Décoration et équipement fournis</li>

    </ul>
    <img src="{% static 'images/offre-classique.jpg' %}" alt="">
</div>

                </div>
            </div>


            <section class="sec4">
                <h1>Découvrez plus de notre gestion</h1>
                <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                        <p>Vous souhaitez rentabiliser votre logement en location saisonnière, on vous accompagne pour <br> satisfaire au mieux les voyageurs et optimiser
                             le taux d’occupation de votre bien.
                           <br> Vous ne vous occupez de rien, on se charge de tout !.</p>
            
                            <div class="groupe1">
                                <div class="serviceadministratif">
                                   <a href="{% url 'gestion_administrative' %}"> 
                                    <div class="titreadministration">
                                        <h2>Service administratif</h2>
                                    </div>
                                </a>
                                   
                                </div>
                                <div class="gestionlocation">
                                   <a href="{% url 'gestion_locative' %}"> <div class="titrelocation">
                                        <h2>Gestion location</h2>
                                    </div>
                                </a>
                                    
                                   <a href="{% url 'demander_devis' %}"> <button>Demander un devis</button></a>
                                </div>
                                <div class="packairbnb">
                                    <a href="{% url 'packairbnb' %}"><div class="titreairbnb">
                                        <h2>Pack airbnb</h2>
                                    </div>
                                </a>
                                
                                </div>
                            </div>
            
            </section>
    </main>
    {% endblock %}