{% extends 'base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/reserve.css' %}">
{% endblock %}

{% block title %}
Réservation de service
{% endblock %}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}

{% block content %}
<div class="contacteznous">
<h1>Réservez un service</h1>
<P>Bienvenue et merci d'être parmi nos clients les plus préstigieux veuillez remplir ce formulaire pour faire une réservation </P>
<img src="{% static 'images/logos.png' %}"  alt="logo Majestic Prestige Conciergerie">
</div>
    <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Soumettre la réservation</button>
    </form>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}
