/* static/css/style.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}
h2, h3{
    font-size: 20px; 
    color:#333;
    text-align: center;
    letter-spacing: 1.5px;
}
h1 {
    color:#CDB181 ;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.5px;
}


header {
    background-color: #CDB181;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 2px -2px gray;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    letter-spacing: 1.5px;
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #CDB181;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-bottom: 20px;
}
main li{
    margin: 20px;
    font-size: 16px;
    color: #555;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Specific Styles for Dashboard */
.dashboard-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dashboard-info div {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-info div h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.dashboard-info div p {
    font-size: 16px;
    color: #555;
}
