@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   font-family: 'Poppins', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}


.sec1{
    display: flex;
    background: rgba(0,0,0,.1);
     
}
header{
/*  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('../images/acc.jpg');*/
  background-position: center;
  background-size: cover;
 width: 100%;
 height: 80vh;
}

/*mise a jour logo*/

.logo{
    width: 20%;
    text-align: center;
    margin: auto;
 }
 .logo img{
  width: 50%;
height: 30%;

 }

 /*mise a jour menu*/

.menu{
  
    width: 80%;
  
}
.menu > ul{
    display: flex;
    list-style: none;
/*  justify-content:right;*/
  margin-top: 15px;
  margin-left: 600px;

}
.menu li > a{
 /*color: white;*/
 /*color:#CDB181;*/
 color: #cab48d;
    text-decoration: none;
    display: block;
    padding:20px 20px;
 /* text-transform: uppercase;*/
    font-size: 21.8px;
    font-weight: 600;
    transition: 0.6s ease;
   letter-spacing: 0.5px;
}
.menu ul li:hover{
 
 
  background: rgba(0,0,0,.4);
  border-radius: 3px;
 }
/*sous liste nos service*/

.p-sous-nav-service{
    position: relative;
   
}

.sous-nav-service {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-service li a{
    padding: 10px 20px;
     border-bottom: 1px dotted #fff; 

}
.sous-nav-service li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-service:hover .sous-nav-service{
display: block;

}
/*sous liste menage*/

.p-sous-nav-menage{
  position: relative;
 
}

.sous-nav-menage {
list-style: none;
display: none;
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 285px;
width: max-content;
}
.sous-nav-menage li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-menage li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-menage:hover .sous-nav-menage{
display: block;
}
/*sous liste conciergerie*/

.p-sous-nav-conciergerie{
  position: relative;
 
}

.sous-nav-conciergerie {
list-style: none;
display: none;  
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 285px;
width: max-content;
}
.sous-nav-conciergerie li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-conciergerie li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-conciergerie:hover .sous-nav-conciergerie{
display: block;
}

/*sous liste notre region*/


.p-sous-nav-projet{
  position: relative;
 
}

.sous-nav-projet {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-projet li a{
  padding: 10px 18px;
   border-bottom: 1px dotted #fff; 

}
.sous-nav-projet li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-projet:hover .sous-nav-projet{
display: block;

}
/*footer*/

.sec9{
    background: rgba(0,0,0,.7);
    display: flex;
    height: 350px;
    justify-content: center;
    padding-top: 50px;
    margin-top: 60px;
   /* margin-bottom: -60px;*/
  }
  .logogif{
    width: 25%;
  
   text-align: center;
  
  }
  .logogif img{
    width: 300px;
    height: auto;
   
    
  }
  .menufooter{
    width:25%;
    
  }
  .listes{
    width:25%;
   
  }
  .reseau{
    width:25%;
  
  }
  .menufooter nav ul{
    list-style: none;
  
  line-height: 2.5em;
  padding-left: 100px;
  }
  .menufooter nav ul li{
    color:#cab48d;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .listes ul{
    list-style: none;
    line-height: 2.5em;
  padding-left: 10px;
  }
  .listes ul li{
    color:#cab48d;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
  .suivre{
    display: flex;
  }
  .ytbbas{
   margin-left: 20px;
  
  }
  .linkdinbas{
  
    margin-left: -15px;
  }
  .gmailbas{
    margin-left: 20px;
  
  }
  #titres{
    color:#cab48d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
  }
  .menufooter a, .listes a{
    text-decoration: none;
  }
  .menufooter a:hover, .listes a:hover{
    text-decoration: underline;
    color:#cab48d;
  }
  
  
  .copy{
    background: rgba(0,0,0,.7);
    
    margin-top:0px;
    padding-bottom: 30px;
  }
  .copy p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #cab48d;
    text-align: center;
   word-spacing: 0.1em;
   padding-top:20px;
  
  }
  .copy hr{
    margin-left: 750px;
  }