
.sec1{
    display: flex;
    background: rgba(0,0,0,.4);
     
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/chantier.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 width: 100%;
 height: 70vh;
}

/*main*/

.section1{
    background: rgba(0,0,0,.3);
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
    margin-top: -360px;
  }
  
  .section1 h1{
    padding-top: 20px;
    font-size: 32px!important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
   line-height:2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
 
    color: #CDB181;
   
  }
  
  .section1 h2{
    padding-top: 20px;
    font-size: 24px!important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
   line-height:2em;
    font-weight: 700;
   color: #CDB181;
   /*color: white;*/
    font-family: 'Montserrat', sans-serif;
  }

  /*section2*/

  .section2{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 250px;
  }
  .image1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/chantier1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;
   height: 52vh;
  }
  
  
  .image2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/chantier2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;
   height: 52vh;
  }
  .image1,.image2,.texte1{
    width: 30%;
    margin-left: 20px;
  }
  .texte1 p{
    text-align: justify;
    line-height: 2rem;
    margin: 20px 0px;
  }
  .texte1 h3{
    letter-spacing: 1.2px;
    font-size: 19px;
    padding-top: 5px;
    text-align: center;
  }


  /* mise en page section3*/
  .section3{
    margin-top:70px;
  }
  .imageChantier{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/imageChantier.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   width: 100%;
   height: 50vh;

  }
.imageChantier h1{
    text-align: center;
    padding-top: 100px;
    font-size: 28px;
    font-weight: 700;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
}

.imageChantier p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 2px;
}

.imageChantier button{
    margin-left: 800px;
  margin-top: 40px;
  background:#cab48d;
  border-radius: 5px;
padding: 20px 20px;
color: white;
font-size: 18px;
font-weight: 700;
letter-spacing: 3px;
position: absolute;
border: none;
}
.imageChantier button:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.section4 h1{
    padding-top: 40px;
    margin-bottom: 0px;
    font-size: 25px!important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
   line-height:2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
.serviceChantier{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.serviceChantier1,.serviceChantier2{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.nettoyageChantier, .serviceDémolition,.carrelage,.la-maconnerie,.la-peinture,.la-menuiserie{
    width: 40%;
    background-color:#f9f9f9;
    padding-bottom: 20px;
    margin-left: 20px;
}
.nettoyageChantier img,.serviceDémolition img, .carrelage img,.la-maconnerie img,.la-peinture img,.la-menuiserie img{
    width: 100%;
    height: 40vh;
}
.nettoyageChantier h2,.serviceDémolition h2, .carrelage h2,.la-maconnerie h2,.la-peinture h2,.la-menuiserie h2{
    letter-spacing: 2px;
    padding: 10px 20px;
    font-size: 21px;
    text-transform: uppercase;
}
.nettoyageChantier p, .serviceDémolition p, .carrelage p,.la-maconnerie p,.la-peinture p,.la-menuiserie p{
    line-height: 2rem;
    padding: 10px 20px;
    text-align: justify;
}

  /*section 5*/

.sec5{
  /*  background-color: #F8F9F9;*/
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .sec5 h1{
    padding-top: 40px;
    margin-bottom: 0px;
    font-size: 25px!important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
   line-height:2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  .principe{
    display: flex;
   
    width: 80%;
    margin: auto;
    margin-top: 25px;
  }
  .principe1,.principe2,.principe3{
    padding: 20px 20px;
  
    width: 30%;
    object-fit: cover;
    margin: auto;
    display: flex;
  }
  
  .principe2 img,.principe3 img,.principe1 img{
    margin-top: -20px;
  }
  .sec5 button{
    background:#CDB181;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-left: 43%;
    margin-top: 30px;
    letter-spacing: 3px;
    border: none;
  }
  .sec5 button:hover{
    background-color: #b59a68;
  }
  .sec5 p{
    font-style: italic ;
  
  }
 
  .texteprincipe p{
    font-style: normal;
  }
 /*nos services*/

.nosservices{
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 40px;
 }

 .servicemenage,.serviceconciergerie,.serviceaide,.servicechantier,.serviceEntretien{
 
  width: 20%;
   margin-left: 10px;
 }

 .serviceEntretien{
  margin-right: 10px;
 }

 .servicemenage a,.serviceconciergerie a,.serviceaide a,.servicechantier a,.serviceEntretien a{
  text-decoration: none;
}
.servicemenage a:hover .titremenage,.serviceconciergerie a:hover .titreconciergerie,.serviceaide a:hover .titreaide,.servicechantier a:hover .titrechantier,.serviceEntretien a:hover .titreEntretien{
  filter:brightness(70%);
}
.titremenage{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/menage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

height: 200px;
width:100%;
object-fit: cover;

}
.titreconciergerie{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/conciergerie.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 

height: 200px;
width:100%;
object-fit: cover;

}
.titreaide{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/soutien.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 

height: 200px;
width:100%;
object-fit: cover;

}
.titrechantier{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/menage-commercial.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

height: 200px;
width:100%;
object-fit: cover;

}
.titreEntretien{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/espacevert.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 

height: 200px;
width:100%;
object-fit: cover;

}
.titremenage h2,.titreconciergerie h2,.titreaide h2,.titrechantier h2,.titreEntretien h2{
  padding-top: 80px;
  line-height:2em;
   font-family: 'Montserrat', sans-serif ;
  font-size: 20px!important;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 500;
}

.secnosservices button,.secnotregestion button{
  background:#CDB181;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-left: 41.7%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
  text-transform: uppercase;
}
.sec6 .devis p{
  margin-left: 42.7%;
  margin-top: 10px;
}

.sec6 h1{
 padding-top: 40px;
 padding-bottom: 10px;
 font-size: 25px!important;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 4px;
line-height:2em;
 font-weight: 700;
 font-family: 'Montserrat', sans-serif;
}
.sec6 p{
 text-align: center;
 letter-spacing: 2px;
 line-height: 2.5rem;
 padding-top: -5px;
}
.sec6{
margin-top: 20px;
 /*margin-bottom: 100px;*/
 padding-bottom: 150px;
 background-color: #f5ead6;
}

