
.sec1{
    display: flex;
    background: rgba(0,0,0,.5);
     
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/espacevert.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 width: 100%;
 height: 70vh;
}

/*main*/

.section1{
  background: rgba(0,0,0,.4);
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
  margin-top: -370px;
}

.section1 h1{
  padding-top: 20px;
  font-size: 32px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #CDB181;
 
}

.section1 h2{
  padding-top: 20px;
  font-size: 24px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
 color: #CDB181;
 /*color: white;*/
  font-family: 'Montserrat', sans-serif;
}

/* section2 */

.section2{
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 250px;
  }

  .section2 h1{
    font-size: 28px;
    font-weight: 2rem;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  .section2 p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
  }

  .images-espace-vert{
    width: 85%;
    margin: auto;
    justify-content: center;
    display: flex;
  }
  .images-espace-vert img{
    width: 33%;
    height: 280px;
    margin:20px 10px;
  }

  /* section3 */
  .section3{
    margin-top:70px;
  }
  .imageArriereEspaceVert{
    background-image: url('../images/arriere-plan-vert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;
   height: 40vh;

  }
.imageArriereEspaceVert h2{
    text-align: center;
    padding-top: 80px;
    font-size: 28px;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 2px;
    color:white;
}

.imageArriereEspaceVert p{
    text-align: center;
    padding-top: 20px;
    color: white;
    line-height: 2rem;
    letter-spacing: 1px;
    width: 60%;
    margin: auto;
}


.prestation1{
    width: 70%;
    display: flex;
    margin: auto;
    background-color: white;
    box-shadow: 1px 5px 5px 1px rgba(0,0,0,.3);
    margin-top: -100px;

}
.prestation2,.prestation3{
    width: 70%;
    display: flex;
    margin: auto;
    background-color: white;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,.3);
    margin-top: 20px
 
}
 .texte1{
    width: 50%;
    padding: 20px;
 }
 .texte1 h2{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1.5px;
 }
 .texte1 p{
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 0.5px;
    padding-top: 10px;
 }

 
 .image1{
    background-image:url('../images/entretien-espace-vert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 60%;
   height: 45vh;
margin: 20px;
 }
 .image2{
    background-image:url('../images/amenagement-espace-vert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 60%;
   height: 45vh;
   margin: 20px;
 }
 .image3{
    background-image:url('../images/creation-espace-vert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   width: 60%;
   height: 45vh;
   margin: 20px;
 }
 .texte1 button{
    margin-left: 170px;
  margin-top: 20px;
  background:#145A32 ;
  border-radius: 5px;
padding: 10px 10px;
color: white;
font-size: 15px;
font-weight: 700;
letter-spacing: 3px;
border: none;
}

.texte1 .boutton-aménager{
    margin-left: 160px;
  
    background:#145A32 ;
    border-radius: 5px;
  padding: 10px 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
}
  .texte1 .boutton-creer{
    margin-left: 160px;
    margin-top: 50px;
    background:#145A32 ;
    border-radius: 5px;
  padding: 10px 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
  }
  .texte1 .boutton-aménager:hover, .texte1 .boutton-creer:hover, .texte1 .button:hover{
   background-color: rgb(52, 156, 52);
  }
/*nos services*/

.nosservices{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 40px;
   }
  
   .servicemenage,.serviceconciergerie,.serviceaide,.servicechantier,.serviceEntretien{
   
    width: 20%;
     margin-left: 10px;
   }
  
   .serviceEntretien{
    margin-right: 10px;
   }
  
   .servicemenage a,.serviceconciergerie a,.serviceaide a,.servicechantier a,.serviceEntretien a{
    text-decoration: none;
  }
  .servicemenage a:hover .titremenage,.serviceconciergerie a:hover .titreconciergerie,.serviceaide a:hover .titreaide,.servicechantier a:hover .titrechantier,.serviceEntretien a:hover .titreEntretien{
    filter:brightness(70%);
  }
  .titremenage{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/menage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
  height: 200px;
  width:100%;
  object-fit: cover;
  
  }
  .titreconciergerie{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/conciergerie.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  
  height: 200px;
  width:100%;
  object-fit: cover;
  
  }
  .titreaide{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/soutien.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
  
  height: 200px;
  width:100%;
  object-fit: cover;
  
  }
  .titrechantier{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/chantier.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
  height: 200px;
  width:100%;
  object-fit: cover;
  
  }
  .titreEntretien{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/menage-commercial.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
  
  height: 200px;
  width:100%;
  object-fit: cover;
  
  }
  .titremenage h2,.titreconciergerie h2,.titreaide h2,.titrechantier h2,.titreEntretien h2{
    padding-top: 80px;
    line-height:2em;
     font-family: 'Montserrat', sans-serif ;
    font-size: 20px!important;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 500;
  }
  
  .secnosservices button,.secnotregestion button{
    background:#CDB181;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left: 41.7%;
    margin-top: 60px;
    letter-spacing: 3px;
    border: none;
    text-transform: uppercase;
  }
  .sec6 .devis p{
    margin-left: 42.7%;
    margin-top: 10px;
  }
  
  .sec6 h1{
   padding-top: 40px;
   padding-bottom: 10px;
   font-size: 25px!important;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
  line-height:2em;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
  }
  .sec6 p{
   text-align: center;
   letter-spacing: 2px;
   line-height: 2.5rem;
   padding-top: -5px;
  }
  .sec6{
  margin-top: 20px;
   /*padding-bottom: 150px;*/
   background-color: #f5ead6;
  }
  .sec6 button{
    background:#CDB181;
    color:white;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-left: 43%;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 3px;
    border-radius: 5px;
   border: none;
  }
  .sec6 button:hover{
    background-color: #b59a68;
  }