/* Applique l'image d'arrière-plan à toute la page */
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/header-login.jpg');
    background-size: cover; /* Pour que l'image couvre toute la page */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-attachment: fixed; /* L'image reste fixe même en scrollant */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les padding */
    height: 100vh; /* S'assurer que la hauteur de la page prend tout l'écran */
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 230px;
}
.logo-para{
   /* margin:100px;*/
    margin-top: -150px;
}
.logo-para img{
        width: 50%;
      height: 30%;
      
}
.logo-para h1{
    color:white;
    /*  color: #a09387;*/
    line-height: 1.4;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.login-container {
    max-width: 480px;
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-box {
  max-width: 400px;
   width: 100%;
   margin: auto;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 120px;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: grey;
}

.input-group input {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hint {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}

.options {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.options label {
    margin-left: 5px;
}

button {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    background-color:#CDB181;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #CDB181;
}

.mandatory-fields {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

