@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   font-family: 'Poppins', sans-serif;
  }
.sec1{
    display: flex;
    background: rgba(0,0,0,.3);
     
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(nos-images/soutien.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 width: 100%;
 height: 80vh;
}


/*mise a jour logo*/

.logo{
    width: 20%;
    text-align: center;
    margin: auto;
 }
 .logo img{
  width: 50%;
height: 30%;

 }

 /*mise a jour menu*/

.menu{
  
    width: 90%;
  
}
.menu > ul{
    display: flex;
    list-style: none;
/*  justify-content:right;*/
  margin-top: 15px;
  margin-left: 640px;
}
.menu li > a{
 /*color: white;*/
 /*color:#CDB181;*/
 color: #CDB181;
    text-decoration: none;
    display: block;
    padding:20px 20px;
 /* text-transform: uppercase;*/
    font-size: 21.8px;
    font-weight: 700;
    transition: 0.6s ease;
    letter-spacing: 0.5px;
}
.menu ul li:hover{
 
 
  background: rgba(0,0,0,.4);
  border-radius: 3px;
 }
/*sous liste nos service*/

.p-sous-nav-service{
    position: relative;
   
}

.sous-nav-service {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-service li a{
    padding: 10px 20px;
     border-bottom: 1px dotted #fff; 

}
.sous-nav-service li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-service:hover .sous-nav-service{
display: block;

}
/*sous liste menage*/

.p-sous-nav-menage{
  position: relative;
 
}

.sous-nav-menage {
list-style: none;
display: none;
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 285px;
width: max-content;
}
.sous-nav-menage li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-menage li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-menage:hover .sous-nav-menage{
display: block;
}
/*sous liste conciergerie*/

.p-sous-nav-conciergerie{
  position: relative;
 
}

.sous-nav-conciergerie {
list-style: none;
display: none;  
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 275px;
width: max-content;
}
.sous-nav-conciergerie li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-conciergerie li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-conciergerie:hover .sous-nav-conciergerie{
display: block;
}

/*sous liste notre region*/


.p-sous-nav-projet{
  position: relative;
 
}

.sous-nav-projet {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-projet li a{
  padding: 10px 18px;
   border-bottom: 1px dotted #fff; 

}
.sous-nav-projet li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-projet:hover .sous-nav-projet{
display: block;

}
/*main*/
.section1{
  background: rgba(0,0,0,.2);
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}

.section1 h1{
  padding-top: 20px;
  font-size: 32px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: -450px;
 /* color: #cab48d;*/
  color: #CDB181;
 /* color: white;*/
}

.section1 h2{
  padding-top: 20px;
  font-size: 24px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
 color: #CDB181;
 /*color: white;*/
  font-family: 'Montserrat', sans-serif;
}

/* section2 */
.section2{
  background-color: #f9f9f9;
  width: 80%;
  margin: auto;
  padding-bottom:50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-top:268px;
}
.section2 h1{
  text-align: center;
  /*margin-top: 320px;*/
  padding-top: 20px;
  font-size: 27px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  
 color:black;
 /*color: white;*/
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
  /*background-color: red;*/
}
.section2 p{
  text-align: center;
  margin-top:40px;
  line-height: 2em;
  letter-spacing: 1.5px;
}
.imageunique{
  margin: auto;
  width: 60%;
}
.imageunique img{
  margin: auto;
  width: 100%;
  height: 500px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/*section3*/
.section3{
  margin: auto;
  width: 80%;
  margin-top: -70px;
  background-color: #f9f9f9;
  padding-bottom:50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.section3 h1{
  padding-top: 20px;
  font-size: 27px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
}
.section3 p{
  text-align: center;
  margin-top:40px;
  line-height: 2em;
  letter-spacing: 1.5px;
}

.servicesAideDomicile1{
  margin: auto;
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.texte{
  width: 50%;
  padding-right: 20px;
}
.servicesAideDomicile1 h1{
  text-align: center;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 3px;
  text-transform: lowercase;
}
span{
  text-transform: uppercase;
}
.servicesAideDomicile1 h3{
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.servicesAideDomicile1 .texte p{
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 2em;
  margin-top:0px;
}
.servicesAideDomicile1 .image1{
  width: 50%;
  background-image: url(nos-images/aide1.jpg);
  height: 520px;
  background-position: center;
  background-size: cover;
  
}
.section3 li{
  letter-spacing: 2px;
  color:#cab48d;
  font-weight: 700;
}

/*section4*/

.section4{
  width: 100%;
  margin: auto;
  background-color: #f5ead6;
  margin-top: 50px;
  padding-bottom: 40px;
}
.section4 h1{
  padding-top: 20px;
  font-size: 27px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
}

.aide-mobilité{
  width: 80%;
  margin: auto;
  display: flex;
}
.texteMobilite{
  width: 50%;
  padding: 20px;
  margin-top: 25px;
  background-color: white;
  border-radius: 20px;
}
.texteMobilite p{
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 2em;
  margin-top:0px;
}
.texteMobilite button{
  background:#cab48d;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-left: 25%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
}
.texteMobilite h1{
  padding-top: 20px;
  font-size: 20px!important;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 3px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
}
.section4 li{
  letter-spacing: 2px;
  list-style: none;
  font-size: 100%;
 margin-top: 10px;
  line-height: 2em;
}

.texteMobilite li::before{
  content: "\002714";
  color: #cab48d;
  margin: 10px;
  width: 14px;
  height: 12px;
}


.image-aide1 img{
  width:36%;
  height: 470px;
 position: absolute;
 z-index: 99;
}
.image-aide2 img{
  width:100%;
  height: 450px;
 position: relative;
 margin-top: 120px;
 margin-left: -100px;
}
.imagemobilite{
  width: 50%;
  margin-left: 200px;
  margin-top: 30px;
}

.section5{
background-color: #f9f9f9;
margin: auto;
  width: 80%;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 40px;
}


.section5 h3{
  padding-top: 20px;
  font-size: 18px!important;
  text-align: center;
color: #CDB181;
  letter-spacing: 3px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
}
.section5 h1{
  padding-top: 20px;
  font-size: 20px!important;
  text-align: center;
 
  letter-spacing: 3px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:10px ;
}
.section5 p{
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 2em;
  margin-top:0px;
}

.section5 button{
  background:#cab48d;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-left: 41%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
}

/*nos services*/

.nosservices{
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 40px;
 }

 .servicemenage,.serviceconciergerie,.serviceaide,.servicechantier,.serviceEntretien{
 
  width: 20%;
   margin-left: 10px;
 }

 .serviceEntretien{
  margin-right: 10px;
 }

 .servicemenage a,.serviceconciergerie a,.serviceaide a,.servicechantier a,.serviceEntretien a{
  text-decoration: none;
}
.servicemenage a:hover .titremenage,.serviceconciergerie a:hover .titreconciergerie,.serviceaide a:hover .titreaide,.servicechantier a:hover .titrechantier,.serviceEntretien a:hover .titreEntretien{
  filter:brightness(70%);
}
.titremenage{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(nos-images/menage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

height: 200px;
width:100%;
object-fit: cover;

}
.titreconciergerie{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(nos-images/conciergerie.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 

height: 200px;
width:100%;
object-fit: cover;

}
.titreaide{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(nos-images/menage-commercial.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 

height: 200px;
width:100%;
object-fit: cover;

}
.titrechantier{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(nos-images/chantier.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

height: 200px;
width:100%;
object-fit: cover;

}
.titreEntretien{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(nos-images/espacevert.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 

height: 200px;
width:100%;
object-fit: cover;

}
.titremenage h2,.titreconciergerie h2,.titreaide h2,.titrechantier h2,.titreEntretien h2{
  padding-top: 80px;
  line-height:2em;
   font-family: 'Montserrat', sans-serif ;
  font-size: 20px!important;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 500;
}

.secnosservices button,.secnotregestion button{
  background:#CDB181;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-left: 41.7%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
  text-transform: uppercase;
}


.sec6 h1{
 padding-top: 40px;
 padding-bottom: 10px;
 font-size: 25px!important;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 4px;
line-height:2em;
 font-weight: 700;
 font-family: 'Montserrat', sans-serif;
}
.sec6 p{
 text-align: center;
 letter-spacing: 2px;
 line-height: 2.5rem;
 padding-top: -5px;
}
.sec6{
margin-top: 50px;
 margin-bottom: 50px;
 padding-bottom: 150px;
 background-color: #f5ead6;
}

/*footer*/

.sec9{
  background: rgba(0,0,0,.7);
  display: flex;
  height: 350px;
  justify-content: center;
  padding-top: 50px;
}
.logogif{
 width: 25%;
 text-align: center;
}
.logogif img{
  width: 300px;
  height: auto; 
}
.menufooter{
  width:25%;
  
}
.listes{
  width:25%;
 
}
.reseau{
  width:25%;

}
.menufooter nav ul{
  list-style: none;

line-height: 2.5em;
padding-left: 100px;
}
.menufooter nav ul li{
  color:#cab48d;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  
}
.listes ul{
  list-style: none;
  line-height: 2.5em;
padding-left: 10px;
}
.listes ul li{
  color:#cab48d;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.suivre{
  display: flex;
}
.ytbbas{
 margin-left: 20px;

}
.linkdinbas{

  margin-left: -15px;
}
.gmailbas{
  margin-left: 20px;

}
#titres{
  color:#cab48d;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
  font-weight: 500;
  padding-top: 8px;
}
.menufooter a, .listes a{
  text-decoration: none;
}
.menufooter a:hover, .listes a:hover{
  text-decoration: underline;
  color:#cab48d;
}


.copy{
  background: rgba(0,0,0,.7);
  margin-top:0px;
  padding-bottom: 30px;
}
.copy p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #cab48d;
  text-align: center;
 word-spacing: 0.1em;
 padding-top:20px;

}
.copy hr{
  margin-left: 750px;
}


