@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   font-family: 'Poppins', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}


.sec1{
    display: flex;
    background: rgba(0,0,0,.1);
     
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(static/images/acc.jpg);
  background-position: center;
  background-size: cover;
 width: 100%;
 height: 80vh;
}

/*mise a jour logo*/

.logo{
    width: 20%;
    text-align: center;
    margin: auto;
 }
 .logo img{
  width: 50%;
height: 30%;

 }

 /*mise a jour menu*/

.menu{
  
    width: 80%;
  
}
.menu > ul{
    display: flex;
    list-style: none;
/*  justify-content:right;*/
  margin-top: 15px;
  margin-left: 600px;

}
.menu li > a{
 /*color: white;*/
 /*color:#CDB181;*/
 color: #cab48d;
    text-decoration: none;
    display: block;
    padding:20px 20px;
 /* text-transform: uppercase;*/
    font-size: 21.8px;
    font-weight: 600;
    transition: 0.6s ease;
   letter-spacing: 0.5px;
}
.menu ul li:hover{
 
 
  background: rgba(0,0,0,.4);
  border-radius: 3px;
 }
/*sous liste nos service*/

.p-sous-nav-service{
    position: relative;
   
}

.sous-nav-service {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-service li a{
    padding: 10px 20px;
     border-bottom: 1px dotted #fff; 

}
.sous-nav-service li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-service:hover .sous-nav-service{
display: block;

}
/*sous liste menage*/

.p-sous-nav-menage{
  position: relative;
 
}

.sous-nav-menage {
list-style: none;
display: none;
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 285px;
width: max-content;
}
.sous-nav-menage li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-menage li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-menage:hover .sous-nav-menage{
display: block;
}
/*sous liste conciergerie*/

.p-sous-nav-conciergerie{
  position: relative;
 
}

.sous-nav-conciergerie {
list-style: none;
display: none;  
background: rgba(0,0,0,.4);
position: absolute;
top:0;
left: 285px;
width: max-content;
}
.sous-nav-conciergerie li a{
  padding: 10px 20px;
  border-bottom: 1px dotted #fff ;
}
.sous-nav-conciergerie li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-conciergerie:hover .sous-nav-conciergerie{
display: block;
}

/*sous liste notre region*/


.p-sous-nav-projet{
  position: relative;
 
}

.sous-nav-projet {
list-style: none;
display: none;

background: rgba(0,0,0,.4);
position: absolute;
top: 73px;
left: 0;
width:auto;
}

.sous-nav-projet li a{
  padding: 10px 18px;
   border-bottom: 1px dotted #fff; 

}
.sous-nav-projet li a:hover{

  background: rgba(0,0,0,.4);
}
.p-sous-nav-projet:hover .sous-nav-projet{
display: block;

}
/*main*/

.desc h1, .sec3 h1, .sec4 h1{
  padding-top: 20px;
  font-size: 30px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.desc p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.sec2{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.reactivite, .humain, .qualite, .polyvalence{

  width: 23%;
  padding: 10px 30px;
}

.sec2 p{
text-align: center;

}
.sec2 h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:2em;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   padding-top: 15px;
  font-size: 22.75px!important;
  text-align: center;
}
.sec2 img{
  margin-left: 150px;
}
.sec3{
 /* background-color: #F2F4F4 ;*/
  background-color: #F8F9F9;

  margin-top: 50px;
  padding-bottom: 50px;
}
.sec3 h1{
  padding-top: 40px;
}
.sec3 p{
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}
#paraservice{
  text-align: center;
  margin-left: 310px;
}



.services{
 
  margin: auto;
  max-width: 50%;
  position: relative;
}

.slides{
  display: none;
 

}
.gliss{
  max-width: 100%;
  background-color: black;
}
.gliss img{
  vertical-align: middle;
  width: 100%;
  height: 400px;
  
background: rgba(0, 0,0, 0.4);

}
.prev,.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
  background-color: rgba(0,0,0,0.8);
}
.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  /*padding-bottom: 50px;*/
  bottom: 0;
background-color: rgba(0, 0, 0, 0.4);
}
.text p{
  font-size: 18px;
  margin-bottom: 5px;
}
.titre{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  top:0;
background: rgba(0, 0,0, 0.4);

  padding: 30px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:2em;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
  font-size: 23px!important;
  text-align: center;
  color: white;
}
.dot{
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.active,.dot:hover{
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity:1}

}
@-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity:1}

}
/*section 4*/
.sec4{
  /* background-color: #F2F4F4 ;*/
   /*background-color: #F8F9F9;*/
   margin-top: 30px;
   margin: auto;
  
 }

 .sec4 p{
   text-align: center;
   padding-top: 10px;
   margin-bottom: 40px;
 }
 .groupe1{
  display: flex;
  max-width: 80%;
  margin: auto;
 }
 .serviceadministratif,.gestionlocation,.packairbnb{
 
  /* max-width:30%;
   margin-left: 14px;*/
   width: 40%;
 
 
   margin-left: 30px;
 }

 .packairbnb{
  margin-right: 14px;
 }

 .serviceadministratif a,.gestionlocation a,.packairbnb a{
  text-decoration: none;
}
.serviceadministratif a:hover .titreadministration,.gestionlocation a:hover .titrelocation,.packairbnb a:hover .titreairbnb{
  filter:brightness(50%);
}
.titreadministration{
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(nos-images/tacheadmin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/*width: 100%;
height: 250px;*/
height: 300px;
width:100%;
object-fit: cover;

}
.titreadministration h2{
  padding-top: 90px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:2em;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
  font-size: 23px!important;
  text-align: center;
  color: white;
}
/*groupe conciergerie*/

/*.groupeconciergerie{
 
  width: 25%;
  margin-left: 40px;
}*/
.titrelocation{
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(nos-images/location.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/*width: 100%;
height: 250px;*/
height: 300px;
width:100%;
object-fit: cover;

}
.titrelocation h2{
  padding-top: 90px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:2em;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
  font-size: 23px!important;
  text-align: center;
  color: white;
}
/*groupe soutien personnelle*/

/*.groupesoutien{

  width: 25%;
  margin-left: 40px;
}*/
.titreairbnb{
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://pic.clubic.com/v1/images/1726363/raw.webp?width=1200&fit=max&hash=578697ceec01668a40e1bd4eab09f444a2acb85d);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/*width: 100%;
height: 250px;*/
height: 300px;
width: 100%;
object-fit: cover;

}
.titreairbnb h2{
  padding-top: 90px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height:2em;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
  font-size: 23px!important;
  text-align: center;
  color: white;
}

.serviceadministratif button,.gestionlocation button,.packairbnb button{
  background:#CDB181;
 /* background-color: #EDBB99;*/
  border-radius: 4px;
  color:white;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-left: 150px;
  margin-top: 0px;
  letter-spacing: 3px;
 /* position: absolute;*/
 border: none;
}



.packairbnb{
 /* margin-left: 40px;*/
}
.serviceadministratif p,.gestionlocation p,.packairbnb p{
text-align:justify;

}

/*section 5*/

.sec5{
  background-color: #F8F9F9;
  margin-top: 60px;
  padding-bottom: 60px;
}
.sec5 h1{
  padding-top: 40px;
  font-size: 30px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.principe{
  display: flex;
  /*justify-content: center;
  align-items: center;*/
 /* background-color: red;*/
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.principe1,.principe2,.principe3{
  padding: 20px 20px;
 /* background-color: green;*/
  width: 30%;
  object-fit: cover;
  margin: auto;
  display: flex;
}

.principe2 img,.principe3 img,.principe1 img{
  margin-top: -20px;
}
.sec5 button{
  background:#CDB181;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-left: 70%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
}
.sec5 p{
  font-style: italic ;

}
.texteprincipe p{
  font-style: normal;
}
.devis P{
  margin-left: 70%;
  margin-top: 10px;
}
/*section 6*/

.allcall{
  display: flex;
  margin: auto;
  width: 90%;

}
.numero{
  width: 45px;
  height: 45px;
  border: 2px solid #a09387;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 0;
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;

}
.image{

 
  margin-bottom: -20px;
}
.image img{
  /*margin: 15px auto 0;*/
  padding-left: 100px;
}
.paratitre p{
 color:#bda577;
/*  color: #a09387;*/
font-size: 18px;
font-weight: 600;
text-align: center;
margin-top: 30px;
}
.paradesc p{
text-align: center;
margin-top: 15px;
font-weight: 500;
}
.paradesc{
  width:100%;
  text-align: center;
}
.etape1,.etape2,.etape3,.etape4,.etape5{

  width: 20%;
  margin-right: 14px;
}
.sec6 h1{
  padding-top: 20px;
  font-size: 30px!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
 line-height:2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}
.sec6{
  margin-top: 50px;
}
.sec6 button{
  background:#CDB181;
  border-radius: 10px;
  color: white;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-left: 70%;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
}
.sec6 .devis{

color:#bda577;
font-style: italic;
}



/* traitement sec7 bas page */
.sec7{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #F8F9F9;
  padding-top: 70px;
  padding-bottom: 70px;
}
.partie1{
position: relative;
width: 33%;
}
.partie1 img{
  width: 100%;
  height:  627px;
}
.partie1 h3{
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
margin-top: 400px;
margin-left: 50px;
letter-spacing: 3px;
}
.partie1 p{
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
margin-top: 435px;
margin-left: 50px;
letter-spacing: 3px;
}
.partie2{
 margin-left: 50px; 
 width: 33%;
 position: relative;
}
.partie2 img{
  width: 100%;
  height: 627px;
}
.partie2 h3{
position: absolute;
margin-left: 50px;
margin-top:400px;
color: white;
font-weight: 100;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 3px;
}
.partie2 p{
position: absolute;
margin-left: 50px;
margin-top: 435px;
color: white;
font-weight: 600;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 3px;
}
#boutonfinale{
  margin-left: -400px;
  margin-top: 520px;
  background:#CDB181;
  border-radius: 5px;
padding: 20px 40px;
color: white;
font-size: 18px;
font-weight: 700;
letter-spacing: 3px;
position: absolute;
border: none;
}

/*footer*/

.sec9{
  background: rgba(0,0,0,.7);
  display: flex;
  height: 350px;
  justify-content: center;
  padding-top: 50px;
  margin-top: 60px;
 /* margin-bottom: -60px;*/
}
.logogif{
  width: 25%;

 text-align: center;

}
.logogif img{
  width: 300px;
  height: auto;
 
  
}
.menufooter{
  width:25%;
  
}
.listes{
  width:25%;
 
}
.reseau{
  width:25%;

}
.menufooter nav ul{
  list-style: none;

line-height: 2.5em;
padding-left: 100px;
}
.menufooter nav ul li{
  color:#cab48d;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  
}
.listes ul{
  list-style: none;
  line-height: 2.5em;
padding-left: 10px;
}
.listes ul li{
  color:#cab48d;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.suivre{
  display: flex;
}
.ytbbas{
 margin-left: 20px;

}
.linkdinbas{

  margin-left: -15px;
}
.gmailbas{
  margin-left: 20px;

}
#titres{
  color:#cab48d;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
  font-weight: 500;
  padding-top: 8px;
}
.menufooter a, .listes a{
  text-decoration: none;
}
.menufooter a:hover, .listes a:hover{
  text-decoration: underline;
  color:#cab48d;
}


.copy{
  background: rgba(0,0,0,.7);
  
  margin-top:0px;
  padding-bottom: 30px;
}
.copy p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #cab48d;
  text-align: center;
 word-spacing: 0.1em;
 padding-top:20px;

}
.copy hr{
  margin-left: 750px;
}