{% extends 'base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/apropos.css' %}">
{% endblock %}

{% block title%}
À propos
{% endblock%}

{% block header_image %}
{% static 'images/apropos.jpg' %}
{% endblock %}

{% block header_title %}
Majestic Préstige & Conciergerie
{% endblock %}

{% block header_subtitle %}
Bienvenue dans la haute conciergerie
{% endblock %}

{% block content %}

    <main>
        <section class="section1">
<h1>Majestic Préstige & Conciergerie</h1>
<h2>Bienvenue dans la haute conciergerie</h2>
</section>
<div class="description">
    <h1>DÉCOUVREZ LA CONCIERGERIE DE LUXE</h1>
    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
    <h3>Chacun de nos membres est précieux et unique.</h3>
    <p>Bienvenue dans un monde où le luxe et l'excellence ne connaissent aucune limite. Nous sommes une agence de conciergerie de luxe dédiée à transformer vos rêves en réalité.
        <br> Fondée sur les principes de la discrétion, 
        du service personnalisé et de l'attention méticuleuse aux détails, <br>notre agence est le symbole de l'élégance et de l'efficacité.</p>
</div>
<section class="secentre1">
    <div class="RH">
        <h3>NOTRE MISSION</h3>
        <p>Notre mission est simple: <span>Offrir un service impeccable et sur mesure à chaque client. </span><br> <br>
           
            Qu'il s'agisse de l'organisation d'événements haut de gamme, de voyages personnalisés, la gestion airbnb ou de votre immeuble ,
            l’entretien ou de l'accès à des expériences exclusives, nous nous engageons à répondre à toutes vos attentes avec une précision et une classe inégalées.</p>
    </div>
    <div class="fotoRh">
        
    <img src="{% static 'images/fotomission.jpeg' %}" alt="notre mission">
    </div>
</section>
<section class="secentre2">
    <div class="fotoRh">
        <img src="{%static 'images/notreEquipe.jpg' %}" alt="notre equipe">
    </div> 
    <div class="RH">
        <h3>NOTRE EQUIPE :</h3>
        <p>
            Notre équipe est composée de professionnels hautement qualifiés et passionnés, chacun expert dans son domaine. <br> <br>De la planification d'événements luxueux à la gestion de propriétés,
             en passant par les réservations dans des restaurants étoilés et la coordination de voyages exotiques, nous avons l'expertise pour satisfaire les désirs les plus sophistiqués.
        </p>
    </div>
  
</section>
<section class="secentre3">
  
    <div class="RH">
        <h3>Notre Engagement envers l'Excellence:</h3>
        <p>Nous croyons que le luxe est dans le détail. <br>
            Chaque demande est traitée avec le plus haut degré d'attention, garantissant que chaque aspect de votre expérience soit impeccable. <br> <br>
             Nous sommes dédiés à créer des moments inoubliables qui dépassent toutes les attentes.

             Notre objectif : répondre efficacement à vos besoins dans les meilleurs délais, et anticiper vos attentes.</p>
        </div>
        <div class="fotoRh">
            <img src="{% static 'images/notreengagement.jpg' %}" alt="notre engagement"></div>
</section>

<div class="titreUnique">  <h1>Ils nous font confiance  </h1>
    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
</div>
<section class="sectionclient">
  
<div class="avisclient">
    <div class="clients">
        <img src="{% static 'images/personne1.jpg' %}" alt="">
        <p>Intervenante consciencieuse et rapide, qui s’efforce de répondre à toutes les attentes qu’on peut avoir. 
            C’est un plaisir de rentrer chez soi après son passage.</p>
              <div class="notes">
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
            </div>
    </div>

    <div class="clients">
        <img src="{% static 'images/personne8.jpg' %}" alt="">
        <p>Excellente prestation de la personne qui est intervenue. Les résultats constatés sont bien positivement au-delà de l’attendu. 
            
        Mille mercis à cette excellente intervenante.</p>
              <div class="notes">
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
            </div>
    </div>

    <div class="clients">
        <img src="{% static 'images/personne6.jpg' %}" alt="">
        <p>Un service de conciergerie de qualité supérieure ! Leur équipe prend soin de tout, des entretiens réguliers aux réparations nécessaires. 
           . Un service exceptionnel !.</p>
              <div class="notes">
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
                <div class="fas fa-star"></div>
            </div>
    </div>


</div>

</section>

<section class="secnosservices">

<h1>nos services</h1>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
<div class="nosservices">     
<div class="servicemenage" class="image-item" id="c1">
    <a href="{% url 'menage_residentiel' %}"> 
     <div class="titremenage">
         <h2>Ménage</h2>
     </div>
 </a>
</div>

<div class="serviceconciergerie" class="image-item" id="c2">
    <a href="{% url 'conciergerie' %}"> 
     <div class="titreconciergerie">
         <h2>Conciergerie</h2>
     </div>
 </a>
</div>


<div class="serviceaide" class="image-item" id="c3">
    <a href="{% url 'soutien_domicile' %}"> 
     <div class="titreaide">
         <h2>Service de soutien à domicile</h2>
     </div>
 </a>
</div>

<div class="servicechantier" class="image-item" id="c4">
    <a href="{% url 'service_chantier' %}"> 
     <div class="titrechantier">
         <h2>Service de chantier</h2>
     </div>
 </a>
</div>

<div class="serviceEntretien" class="image-item" id="c5">
    <a href="{% url 'espace_vert' %}"> 
     <div class="titreEntretien">
         <h2>Entretien espace vert</h2>
     </div>
 </a>
</div>
</div>

<a href="{% url 'reserver' %}"><button>Faire une réservation</button></a>
  <div class="devis"><p>C'est gratuit et sans engagement</p></div> 

</section>

<section class="secnotregestion">

<h1>notre gestion</h1>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>

<div class="groupe1">
    <div class="serviceadministratif">
       <a href="{% url 'gestion_administrative' %}"> 
        <div class="titreadministration">
            <h2>Service administratif</h2>
        </div>
    </a>
        
    </div>
    <div class="gestionlocation">
       <a href="{% url 'gestion_locative' %}"> <div class="titrelocation">
            <h2>Gestion location</h2>
        </div>
    </a>
        
    </div>
    <div class="packairbnb">
        <a href="{% url 'packairbnb' %}"><div class="titreairbnb">
            <h2>Pack airbnb</h2>
        </div>
    </a>
       
    </div>
</div>
<a href="{% url 'demander_devis' %}"><button>Demandez un devis</button></a>
  <div class="devis"><p>C'est gratuit et sans engagement</p></div>
</section>
<section class="rejoignernous">
    <h1>Rejoignez-Nous:</h1>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
 <div class="final"> 
    <div class="lestitres">
<h2> Avec notre agence de conciergerie multiservices de luxe, entrez dans une expérience où chaque service est synonyme de perfection. </h2>
    <h3>Découvrez un univers où vos désirs les plus luxueux deviennent réalité</h3>
    <p>Rejoignez-nous pour un voyage au-delà du luxe ordinaire.</p>
   <a href="{% url 'contact' %}"> <button id="boutonfinale">Contactez nous </button></a>
</div>
    
</div>
    </section>

    </main>
    {% endblock %}
    