{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block title %}
Nos Services
{% endblock %}

{% block header_image %}
{% static 'images/image-nosservices.jpg' %}
{% endblock %}

{% block content %}

    <main>
         <!-- Bloc pour afficher les messages de succès ou d'erreur -->
         {% if messages %}
         {% for message in messages %}
             <div class="{{ message.tags }}">
                 <p>{{ message }}</p>
             </div>
         {% endfor %}
     {% endif %}
      
        <div class="contacteznous">
            <h1>Nous contacter</h1>
            <p> <span>Majestic Préstige Conciergerie</span> vous accompagne et vous conseille dans vos démarches pour faire un devis. Elle sera pour vous un  véritable partenaire, <br> basant ses prestations sur la confiance et la qualité,
                 <span> dans les domaines ménage, conciergerie, entretien espace vert, aide à la personne, entretien chantier et la gestion globale de votre logement</span>.</p>
            <img src="{% static 'images/logos.png' %}" alt="logo Majestic Prestige Conciergerie">
        </div>
        <section class="sectioncontact">
<div class="fotoformulaire">
<img src="{% static 'images/Contact-Gif-Emploi-interne.jpg' %}" alt="">
</div>
<div class="formulaire">
    <p> Pour toute question, vous pouvez contacter notre société nous vous répondrons trés vite!</p>
<form action="{% url 'contact' %}" class="form" method="POST">
    {% csrf_token %}
<label for="nom">Votre nom*</label> <br>
<input type="text" name="nom" id="nom" required placeholder="votre nom et prénom"> <br>
<label for="adresse">Votre adresse email*</label> <br>
<input type="email" name="email" id="adresse" required placeholder="Votre email"> <br>
<label for="objet" name="objet">Objet*</label> <br>
<select name="objet" size="1" id="objet"> <br>
    <option value="-Selectionner-" >-Selectionner-</option>
    <option value="Information sur le devis">Information sur le devis</option>
    <option value="Information sur mon compte">Information sur mon compte</option>
    
</select> <br>
<label for="message">Votre message*</label> <br>
<textarea name="message" id="message" cols="30" rows="10">
</textarea> 

    <input type="submit" id="edit" value="Envoyer" name="submit_button">
</form>

</div>

        </section>

        <section class="contact">
            <h1>Nous rencontrer</h1>
            <hr width="12%" size="1.5" text-align="center" color="#cab48d">
            <div class="groupecontact">
            <div class="position">
                <div class="emplacement">
                   <img src="{% static 'images/emplacement.png' %}" alt="">
                     <div class="g1">
                   <h3>Emplacement</h3>
                   <p> 92 Jules Mercier Allinges France</p>
                </div>
                </div>
                <div class="email">
                    <img src="{% static 'images/email.png' %}" alt="">
                    <div class="g2">
                        <h3>E-mail</h3>
                   <p> majestic_prestige_conciergerie@hotmail.fr</p>
                    </div>
                </div>
                <div class="appel">
                    <img src="{% static 'images/telephone.png' %}" alt="">
                    <div class="g3">
                        <h3>Appel</h3>
                    <p> 07 20 93 88 </p>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.7704463660907!2d6.8339665158087515!3d47.65002749296998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47923b9cd8de65d1%3A0x737fd7a08ed05df0!2s93%20Via%20d&#39;Auxelles%2C%2090000%20Cravanche!5e0!3m2!1sfr!2sfr!4v1675842911461!5m2!1sfr!2sfr"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </section>
     
    

    </main>
   {% endblock %}