{% extends 'base.html' %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/gestion-locative.css' %}">
{% endblock %}

{% block title %}
Gestion Locative
{% endblock %}

{% block header_image%}
{% static 'images/header-page-gestion-locative.jpg' %}
{% endblock %}

{% block header_title %}
Notre prémium Gestion de luxe
{% endblock %}

{% block header_subtitle %}
Gestion Locative
{% endblock %}

{% block content %}
    <main>
        <section class="section1">
            <h1> Notre prémium Gestion de luxe</h1>
            <h2>Gestion Locative</h2>
            </section>
            <section class="section2">
                <h1>UNE OFFRE DE SERVICES COMPLÈTE</h1>
                <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                <h2>... CONÇUES POUR FACILITER LA GESTION DE VOTRE LOCATION COURTE DURÉE</h2>
                
                <p>Majestic Préstige & Conciergerie, gère votre location courte durée. <br> Nous définissons ensemble vos besoins et nous nous occupons d’entretenir et de louer votre bien. </p>
                <p>Libérez-vous des contraintes et profitez pleinement de vos revenus locatifs !</p>
            </section>

            
    <section class="secteur1">
        <div class="service1">
            <div class="annonce">

            </div>
            <div class="para1">
                <h2>CRÉATION D'UNE ANNONCE OPTIMISÉE</h2>
          
            <p>Une annonce optimisée, attractive et unique est gage de plus de visibilité et donc de plus réservations ainsi que des photos de qualité pour bien valoriser votre bien.</p>
              
                
                 <p>Ainsi, nos experts en gestion de locations optimisent votre annonce selon les standards de 
                    visibilité des plus grandes plateformes de locations.</p>
                     
            </div>

        </div>

        <div class="service2">
         
            <div class="para1">
                <h2>COMMUNICATION AVEC LES VOYAGEURS </h2>
            
            <p>Nous gérons l’ensemble des réservations : de la sélection des voyageurs,
                 à l’organisation des check-in et check-out en passant par la communication avec vos locataires pendant toute la durée du séjour. </p>
                 <p class="para2">Nous veillons à ce que chaque séjour soit une expérience 5 étoiles.</p>
                
            </div>
            <div class="voyageur">

            </div>

        </div>


        
        <div class="service3">
            <div class="prix">

            </div>
            <div class="para1">
                <h2>OPTIMISATION DES PRIX</h2>
            
            <p>En tant que conciergerie de proximité, notre parfaite connaissance du marché locatif 
                 nous permet d’optimiser les tarifs vos tarifs à la nuitée et ce, tout au long de l’année sur les plateformes de réservation.</p>
                 <p class="para2"> Nous avons mis en place une méthode d’optimisation des revenus appelée Yield Management
                     ou Revenue Management permettant d’optimiser vos prix à la nuitée et ce, tout au long de l’année.</p>
                 
            </div>
           

        </div>

        <div class="service4">
           
            <div class="para1">
                <h2>NETTOYAGE ET GESTION DU LINGE</h2>
            
            <p>Parce que l’entretien de votre logement est nécessaire pour la satisfaction de vos locataires, Majestic Préstige & Conciergerie s’engage à fournir une prestation d’entretien de haute qualité et complète. </p>
                 <p class="para2">De plus, nous fournissons à vos locataires du linge de lit et des serviettes de bain de qualité et nous occupons de nettoyage et repassage et de la mise en place.  <p>
                 
            </div>
            <div class="nettoyage-visite">

            </div>
           

        </div>

        <div class="service5">
            <div class="maintenance">

            </div>
           
            <div class="para1">
                <h2>MAINTENANCE</h2>
            
            <p>Les réparations du quotidien sont gérées par notre équipe (ampoule, petites réparations…). </p>
            <p class="para2">Votre location n’aura jamais été aussi bien entretenue. </p>
                 <p class="para2">
                    Si les réparations s’avèrent plus importantes, nous pouvons nous occuper de la recherche des prestataires, de la gestion des devis et du suivi (sur demande).
                    <p>
                 
            </div>
           
           

        </div>


</section>

<section class="section3">

    <h2>Vous cherchez un service de location de préstige <br> Chez Majestic Préstige & Conciergerie, nous rendons votre bien prêt pour vos invités. </h2>
    <p>Vous êtes au bon endroit.</p>
    <a href="{% url 'contact' %}"><button>Contactez-nous</button></a>
    
                    </section>

                    <section class="sec4">
                        <h1>Découvrez plus de notre gestion</h1>
                        <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                                <p>Vous souhaitez rentabiliser votre logement en location saisonnière, on vous accompagne pour <br> satisfaire au mieux les voyageurs et optimiser
                                     le taux d’occupation de votre bien.
                                   <br> Vous ne vous occupez de rien, on se charge de tout !.</p>
                    
                                    <div class="groupe1">
                                        <div class="serviceadministratif">
                                           <a href="{% url 'gestion_administrative' %}"> 
                                            <div class="titreadministration">
                                                <h2>Service administratif</h2>
                                            </div>
                                        </a>
                                           
                                        </div>
                                        <div class="gestionlocation">
                                           <a href="{% url 'gestion_locative' %}"> <div class="titrelocation">
                                                <h2>Gestion location</h2>
                                            </div>
                                        </a>
                                            
                                           <a href="{% url 'demander_devis' %}"><button>Demander un devis</button></a> 
                                        </div>
                                        <div class="packairbnb">
                                            <a href="{% url 'packairbnb' %}"><div class="titreairbnb">
                                                <h2>Pack airbnb</h2>
                                            </div>
                                        </a>
                                        
                                        </div>
                                    </div>
                    
                    </section>
                    

    </main>
    {% endblock %}