{% extends 'base.html' %}
{% load static%}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/chantier.css' %}">
{% endblock %}

{% block title%}
Service de chantier
{% endblock%}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}


{% block content %}
    <main>

        <section class="section1">
            <h1> Nos offres de conciérgerie de luxe</h1>
            <h2>Service de chantier</h2>
            </section>
            <section class="section2">
                <div class="image1">
                
                </div>
                <div class="texte1">
                    <h3>Néttoyage aprés chantier</h3>
                    <p>Sur le chantier, les travaux engendrent des poussières, gravats, déchets, traces de peinture, objets encombrants de différentes natures… Il est donc indispensable de s’en débarrasser avant toute installation dans les locaux. 
                        Ce nettoyage après travaux en profondeur est indispensable pour la livraison de locaux sûrs et sains.</p>
                       <P> Notre société s’occupe des tâches de déblaiement et débarras durant la phase de construction ou de rénovation et lors du nettoyage final.</p>
                        <p>  Elle dispose d’équipements dédiés à tous les travaux de débarras et de remise en état ainsi que les produits adaptés au nettoyage de tous types de matériaux.</p>
                </div>
                <div class="image2">
                
                </div>
                </section>
<section class="section3">
<div class="imageChantier">
    <h1>Notre spécialité</h1>
    <p>Nettoyage avant et fin de chantier, petites démolitions, enlévement de carrelage et papier peint et plus encore ...</p>
    <a href="{% url 'demander_devis' %}"><button>Demander un devis</button></a>
</div>
</section>

<section class="section4">

<h1>Nos préstations chantier</h1>
<hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
<div class="serviceChantier">
<div class="serviceChantier1">
<div class="nettoyageChantier">
    <img src="{% static 'images/imageFinChantier.jpg' %}  " alt="">
    <h2>Nettoyage de fin de chantier</h2>
    <p>Notre engagement est de vous débarrasser de toutes les salissures résultantes d’un chantier (poussières de plâtre, sciure, tâches de peinture, déchets de chantiers…).
        Le nettoyage de fin de chantier besoin d'un savoir-faire et des appareils d’entretien spécifique. Faites confiance aux équipes spécialistes de Majestic Préstige & Conciergerie. </p>
</div>

<div class="serviceDémolition">
    <img src="{% static 'images/démolition.jpg' %}" alt="">
    <h2>Service démolition</h2>
    <p>
        Nous avons un service également spécialisé dans la démolition de cloison amovible,
        démolition intérieure, curage de cellules commerciales, nettoyage aprés chantier.
        Dans des délais très court, nous assurons la manutention, l’enlèvement et l’évacuation des déchets en décharge certifiée. </p>
</div>

<div class="carrelage">
    <img src="{% static 'images/carrelage.jpg' %}" alt="">
    <h2>Enlevement de carrelage</h2>
    <p> De l’usure est apparut, les carreaux sont devenu obsolètes dans votre carrelage. Ainsi, la meilleure façon de donner un nouveau souffle à une pièce carrelée est de la rénover. 
        Notre spécialistes vous facilitent la tâche dans les meilleurs délais.</p>
</div>
</div>
<div class="serviceChantier2">
 
    <div class="la-maconnerie">
        <img src="{% static 'images/maconnerie.jpg' %}" alt="">
        <h2>La maconnerie</h2>
        <p> L'entreprise s'occupe également des traitements de vos sols en réalisant la pose de dallages, de carrelages, de mosaïques et de pavages.
             Nous posons de nombreux types de revêtements, des plus anciens aux plus modernes.
              Nous pouvons également vous accompagner pour vous conseiller dans le choix des revêtements selon vos goûts et votre budget</p>
    </div>

    <div class="la-peinture">
        <img src="{% static 'images/peinture.png' %}" alt="">
        <h2>La peinture et pose de papier peint</h2>
        <p> Notre équipe réalise diverses techniques de peinture pour sublimer votre intérieur et votre extérieur. 
            De la peinture acrylique en passant par la peinture mat, vinyl ou magnétique. Nous sommes experts aussi dans la pose de papier peint qui requiert énormément de technique.
             Nous posons des papiers peints classiques, des posters, des papiers peints intissés, des papiers peints de prestige…</p>
    </div>

    <div class="la-menuiserie">
        <img src="{% static 'images/menuiserie.jpg' %}" alt="">
        <h2>La pose de menuiserie</h2>
        <p> vous pouvez nous confier votre pose de menuiserie intereieurs et exterieurs.
            Un chantier sécurisé, une pose dans les règles de l’art, un intérieur nettoyé, un résultat à la hauteur de vos attentes, voilà ce que nous mettons en oeuvre chez Majestic Préstige & Conciergerie pour que votre projet soit réalisé dans les meilleures conditions.</p>
    </div>
</div>

</div>

</section>


                <section class="sec5">
                    <h1>NOS ENGAGEMENTS</h1>
                    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                    <div class="principe">
                <div class="principe1">
                <img src="{% static 'images/reglage.png' %}" alt="">
                <div class="texteprincipe">
                    <h2>Résponsabilité</h2>
                <p>Entiérement assuré.</p>
                </div>
                </div>
                <div class="principe2">
                    <img src="{% static 'images/reglage.png' %}" alt="">
                   <div class="texteprincipe">
                     <h2>Ecologie</h2>
                    <p>Utilisation de produits ecologiques.</p>
                </div>
                    </div>
                    <div class="principe3">
                       <img src="{% static 'images/reglage.png' %}" alt=""> 
                        <div class="texteprincipe">
                            <h2>Flexibilté</h2>
                            <p>Réservation flexible à annuler a tout moment.</p>
                        </div>
                        </div>
                    </div>
                
                   <a href="{% url 'reserver' %}"><button>Réservation facile</button></a>
                   
                </section>


                <section class="sec6">
                    <h1>Découvrez plus de services</h1>
                    <p>Et si nous vous aidions pour autre chose ?</p>
                    <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
                    <div class="nosservices">     
                        <div class="servicemenage" class="image-item" id="c1">
                            <a href="{% url 'menage_residentiel' %}"> 
                             <div class="titremenage">
                                 <h2>Ménage résidentiel</h2>
                             </div>
                         </a>
                        </div>
                        <div class="servicechantier" class="image-item" id="c4">
                            <a href="{% url 'menage_commercial' %}"> 
                             <div class="titrechantier">
                                 <h2>Ménage commercial</h2>
                             </div>
                         </a>
                        </div>

                        <div class="serviceconciergerie" class="image-item" id="c2">
                            <a href="{% url 'conciergerie' %}"> 
                             <div class="titreconciergerie">
                                 <h2>Conciergerie résidentielle</h2>
                             </div>
                         </a>
                        </div>
                        
                        <div class="serviceaide" class="image-item" id="c3">
                            <a href="{% url 'soutien_domicile' %}"> 
                             <div class="titreaide">
                                 <h2>Soutien à domicile</h2>
                             </div>
                         </a>
                        </div>
                        
                       
                        
                        <div class="serviceEntretien" class="image-item" id="c5">
                            <a href="{% url 'espace_vert' %}"> 
                             <div class="titreEntretien">
                                 <h2>Entretien espace vert</h2>
                             </div>
                         </a>
                        </div>
                        </div>
                </section>
    </main>
{% endblock %}