{% extends 'base.html' %}
{% load static%}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/soutien-domicile.css' %}">
{% endblock %}

{% block title%}
Soutien à domicile
{% endblock%}

{% block header_image %}
{% static 'images/acc.jpg' %}
{% endblock %}



{% block content %}
    <main>
        <section class="section1">
            <h1> Nos offres de conciérgerie de luxe</h1>
            <h2>Soutien à domicile</h2>
        </section>

        <section class="section2">
            <h1>Le service à la personne : <br> notre passion depuis des années</h1>
            <hr style="width:12%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5" />
            <p>Nous comprenons l'importance de vivre confortablement chez soi, surtout en vieillissant.

                <br>

                C'est pourquoi nos Services de Soutien à Domicile comprennent une gamme complète d'assistance
                personnalisée pour les personnes âgées. <br>
                Votre bien-être est notre priorité absolue, et nous nous engageons à vous fournir des services de la
                plus haute qualité, avec un sourire chaleureux.
            </p>
          
        </section>
       <div class="imageunique"><img src="{% static 'images/aide0.jpg' %}" alt=""></div> 
        <section class="section3">

            <h1>Nos Services de Soutien à Domicile</h1>
            <hr style="width:12%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5" />
            <p>Majestic Préstige & Conciergerie offre un service d'aide à la personne et une gamme compléte d'assistance
                personnalisée. Notre objectif ? Vous apporter la juste dose de soutien qui va préserver votre autonomie, rassurer votre entourage et vous apporter du plaisir au quotidien.</p>
            <div class="servicesAideDomicile1">
                <div class="texte">
                    <h1><span>L'</span>aide aux activités quotidiennes</h1>
                    <h3>Vous pouvez compter sur nous pour: </h3>
                    <ul>
<li>Accompagner les gestes du quotidien</li>
<p>Faire sa toilette, se lever, s’habiller, préparer les repas, manger : nos assistants de vie vous secondent en respectant avec attention votre rythme, vos capacités et votre intimité.

</p>
<li>Créer du lien social et relationnel</li>
<p>Discuter, jouer, lire, jardiner, écouter de la musique, regarder un film, recevoir un invité : nos auxiliaires de vie s’adaptent à vos envies pour vous offrir des journées riches en échanges, en chaleur humaine et en convivialité.</p>
<li>Prendre soin de votre maison</li>
<p>Ménage, repassage, entretien du linge : nos aides ménagères vous aident à garder votre intérieur propre et bien rangé comme vous l’aimez.</p>

                    </ul>
                  
                </div>
                <div class="image1">

                </div>
            </div>
        </section>

        <section class="section4">
            <h1>Où aimeriez-vous aller ?</h1>
            <hr style="width:12%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5" />
            <div class="aide-mobilité">
<div class="texteMobilite">
    <h1><span>A</span>ide à la mobilité</h1>
    <p>Notre service d'aide à la mobilité vous accompagne dans vos déplacements pour que vous puissiez profiter pleinement de vos sorties et activités.</p>
    <ul>
        <li>Rendez-vous médicaux et activités de loisirs</li>
        <li>Balade au parc</li>
        <li>Visite aux petits-enfants et aux amis</li>
        <li>Sorties associatives</li>
        <li>Et plus encore ... !</li>
    </ul>
    <a href="{% url 'demander_devis' %}"><button>Demandez un devis</button></a>
</div>
<div class="imagemobilite">
<div class="image-aide1"><img src="{% static 'images/aide-mobilité.jpg' %}" alt=""></div>
<div class="image-aide2"><img src="{% static 'images/aide-mobilité-arriére.jpg' %}" alt=""></div>
</div>
            </div>

        </section>
        <section class="section5">
            <h3>VOUS ÊTES UN PROCHE AIDANT ?</h3>
            <h1>Majestic Préstige & Conciergerie se tient à vos côtés !</h1>
            <br>
            <p>Isolement, stress, épuisement, manque de reconnaissance : nous savons qu’il n’est pas facile d’accompagner un proche âgé dans sa maladie ou sa perte d’autonomie.
                 Et qu’il est encore moins évident pour les aidants familiaux, comme vous, de le confier à une personne inconnue, n’est-ce pas ?</p>
                 <br>
            <p>Chez Majestic Préstige & Conciergerie, nous nous tenons à vos côtés pour trouver une solution adaptée pour vous et votre proche. Nos aides à domicile pour personnes âgées, qualifiées et formées, vous soutiennent en respectant votre rythme et vos besoins. De plus, 
                nos équipes vous guident et vous conseillent dans toutes vos démarches pour obtenir les aides financières auxquelles vous ou votre proche avez droit.</p>
                <br>
            <p>Soufflez : vous pouvez compter sur nous en toute confiance.</p>
            <a href="{% url 'contact' %}"><button>Contactez-nous</button></a>
        </section>

        <section class="sec6">
            <h1>Découvrez plus de services</h1>
            <p>Et si nous vous aidions pour autre chose ?</p>
            <hr style="width:10%; margin: auto; margin-top: 20px; margin-bottom: 30px;" color="#cab48d" size="5"/>
            <div class="nosservices">     
                <div class="servicemenage" class="image-item" id="c1">
                    <a href="{% url 'menage_residentiel' %}"> 
                     <div class="titremenage">
                         <h2>Ménage résidentiel</h2>
                     </div>
                 </a>
                </div>
                <div class="serviceaide" class="image-item" id="c3">
                    <a href="{% url 'menage_commercial' %}"> 
                     <div class="titreaide">
                         <h2>Ménage commercial</h2>
                     </div>
                 </a>
                </div>
                
                <div class="serviceconciergerie" class="image-item" id="c2">
                    <a href="{% url 'conciergerie' %}"> 
                     <div class="titreconciergerie">
                         <h2>Conciergerie résidentielle</h2>
                     </div>
                 </a>
                </div>
                <div class="servicechantier" class="image-item" id="c4">
                    <a href="{% url 'service_chantier' %}"> 
                     <div class="titrechantier">
                         <h2>Service de chantier</h2>
                     </div>
                 </a>
                </div>
                
                <div class="serviceEntretien" class="image-item" id="c5">
                    <a href="{% url 'espace_vert' %}"> 
                     <div class="titreEntretien">
                         <h2>Entretien espace vert</h2>
                     </div>
                 </a>
                </div>
                </div>
                <a href="{% url 'reserver' %}"><button>Faire une réservation</button></a>
        </section>
    </main>
{% endblock %}